[2017-04-26 09:09] mostar opened #1 "dex api default_account"
Hi,

In the dex documentation (http://steem.readthedocs.io/en/latest/convenience.html#dex)
You mention option for using default_account

It is not clear how you set default_account, so that I will not have to add it to the orders.
Please you please clarify this issue.

[2017-04-26 14:44] Netherdrake commented on #1
Use `piston set` CLI command. I think its `piston set default_account <username>`

[2017-04-26 14:54] mostar commented on #1
So in other to set it for my python script (API) first I need to run this CLI command?

[2017-04-26 15:08] Netherdrake commented on #1
If you only have 1 steem account and want to omit `account=<username>` from your code, you can set `default_account` from CLI.

 It only needs to be set once, and all `steem-python` calls there on out will default to that account, unless `account=<username>` argument is present.

[2017-04-26 15:32] #1 closed

[2017-05-01 12:23] Gandalf-the-Grey opened #2 "Lack of dependency. (ImportError: No module named 'datashape')"
After installing on clean Ubuntu 16.04 LTS
`steempy`
results in:
[code]
workaround:
`pip3 install -U datashape`

[2017-05-01 17:25] #2 closed

[2017-05-02 18:21] john-g-g opened #3 "etter code examples for developer portal"

[2017-05-02 22:06] john-g-g commented on #3
Some examples would be useful for the developer portal. I think demonstrating how to do some of the tasks we think will be most common would be a start. @sneak felt they could live either in this repo or the portal repo. Since this is a python package (ostensibly usable without the dev portal), I think all docs/examples should live here and somehow find their way to the dev portal too.  Most of th

[2017-05-03 01:19] Netherdrake commented on #3
I think first we need to improve Sphinx documentation, in 3 ways.
 - Document Steemd API
 - Document all `python-steem` public methods
 - Improve Getting Started / Tutorial section to have a more comprehensive, single page overview

After that we can extract a more succinct version of documentation into markdown, and publish it as repo Readme as well as in dev portal.

[2017-05-11 12:35] oflyhigh opened #4 "steem.post() doesn't work when contains single quotes in body"
I encountered some problems when I tried to use python-steem to post on steemit.
I will simplify the problem into the following code

[code]

The content1 doesn't work but content2 works well.
And all of them work well under piston.

So, what's wrong?

---------------
Error message:

[2017-05-11 19:59] #4 closed

[2017-05-11 20:39] Netherdrake commented on #4
Thank you for reporting this :)

[2017-05-11 23:12] oflyhigh commented on #4
You are welcome!

[2017-05-28 21:16] aaroncox opened #5 "Invalid permission on claim_reward_balance"
I'm getting an error using this method with the proper account/wif combo:

[code]

To reproduce this issue, use the following code and environmental variables:

[code]

I'm not sure why this occurs, but my account does have 2 unusual things which may not have been considered:

- My WIF key is used on multiple accounts, `jesta` and `greymass`
- I have a `posting` authority set to `streemian`

These

[2017-05-28 21:17] Netherdrake commented on #5
Please upgrade to latest Github master

[2017-05-28 21:18] #5 closed

[2017-05-30 23:44] bycz6 opened #6 "import account error"
I'm trying to run the cli wallet but always getting this error!

![image](https://cloud.githubusercontent.com/assets/23620619/26609638/273d38fe-459a-11e7-9eaa-e40ecf5021fb.png)

[2017-05-31 12:51] Netherdrake commented on #6
The second passphrase is your BIP38 wallet one, not your steem account.

Also, does your BIP38 wallet password contain any special characters?

[2017-05-31 23:22] john-g-g opened #7 "Incorrect default steemd nodes"
The `steemd.steemitstage.com` instance shouldn't be in the default list becuase it may be running a different steemd version or doing any other thing that staging envs get up to.

https://github.com/Netherdrake/steem-python/blob/master/steem/steemd.py#L55
[code]
should be:
[code]

[2017-05-31 23:26] john-g-g commented on #7
If steemd.steemit.com isn't reliable tell @jredbeard and he will fix it. I disagree that the solution is to fallback to a different staging deployment.

I encountered this will looping over accounts, when every so often the lib would return:
[code]
This was a mysterious error for me, so I think it would be even more of a problem for other/newer users.

[2017-05-31 23:34] jredbeard commented on #7
Yes, steemd.steemit.com should always be up - if it's not, we have a giant problem. I think this is sufficient for the default steemd instance for the library.

[2017-06-01 01:33] Netherdrake commented on #7
https://steemd.steemit.com has been broken for the most of the day today (at least in the non-western world). The fallback to the staging node is what kept things operational for users of this library.

@john-g-g I suspect the error you're referring to is an anomaly, caused by one of the nodes in the cluster having a follow plugin disabled, or not replayed properly.

[2017-06-01 01:41] Netherdrake commented on #7
@john-g-g I agree with you that using the staging node is a problematic solution, but given the historic issues with the main nodes, it is the best option we have for the time being.

Feel free to submit a new PR with different fallback node, but until the time the master nodes prove themselves reliable, I cannot accept above change.

[2017-06-01 01:41] #7 closed

[2017-06-01 20:56] fxnormaluser opened #9 "beneficiaries: missing posting authority ?"
The beneficiaries argument in post doesn't work for me.

```steembase.exceptions.RPCError: 3030000 tx_missing_posting_auth: missing required posting authority```

I'm using a dictionary for beneficiaries like this:

```[{'account': 'account1', 'weight': 5000}, {'account': 'account2', 'weight': 5000}]```

Even if I set only the posting account as beneficiary, it returns the same error.

[2017-06-03 23:01] bycz6 commented on #6
Ok, so how i create a BIP38 wallet?

[2017-06-04 00:05] Netherdrake commented on #6
The wallet is created automatically, the first time you import a Steem account, or a private key.

[2017-06-04 01:02] Netherdrake opened #10 "[steem.wallet] get_key_references is not a reliable way to reverse lookup account names"
The plugin seems to be unreliable.
Furthermore, multiple accounts could share the same keys.

Code in question:
[code]

Potential Solution:
One way to solve this would be to ask users for the username of the account/private key are are importing. This is how Vessel does it.

[2017-06-04 01:32] Netherdrake commented on #9
The json data structure `steem-python` generates seems to be correct, however the bytes output that goes into transaction signing is not, hence the missing authority error.

This suggests there might be a bug somewhere in the serializer, particularly in regards to the `StaticVariant` type.

[2017-06-04 14:23] bycz6 commented on #6
thanks a lot! It work.
Just one more question how I make my script to run without asking the password everytime?

[2017-06-04 16:39] Netherdrake commented on #6
You can set `UNLOCK` environment variable, with your password.

[2017-06-04 16:42] Netherdrake opened #11 "[steem.Post] get_all_replies() no longer works"
[code]

[2017-06-05 10:57] bycz6 commented on #6
Thanks

[2017-06-05 10:58] #6 closed

[2017-06-09 11:53] Netherdrake opened #13 "Feature: Use current block - 3 reference for broadcast tx"
todo: https://github.com/steemit/steem-js/pull/161/files

[2017-06-09 22:48] Netherdrake opened #14 "[Errno -5] No address associated with hostname',)'"
[code]

[code]

[2017-06-09 23:08] #14 closed

[2017-06-13 15:24] roadscape opened #15 "stream_from: trailing head_block parameter"
`stream_from` follows last irreversible block unless one uses `b = Blockchain(mode='head')`.

In addition to these two modes, it would be very useful to have the ability to follow `head_block - n`.

[2017-06-15 12:56] makarowdmitry opened #16 "Why not create newaccount?"
I have error:

[code]

I tested command:

1.
steempy newaccount divali8 --account furion --fee "9 STEEM"

2.
steempy newaccount divali888 --account steemy

3.
steempy newaccount divali888

I used pass example
P5KQK4iogQypqYAzXbHWmhbwxddVFz8Xhg69czjKLDVhKwEQT2KY - use online generate
mp903804124

My OS
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       x

[2017-06-15 23:47] Netherdrake commented on #16
I am not sure what are you trying to do here.

`steembase.storage.WrongMasterPasswordException` means that your offline storage wallet password (this is not your steem key/password) is incorrect. You are asked to pick a password the first time you import an account into `steempy`. This is the password that is also required every time you want to use the local wallet.

[2017-06-17 06:49] pgarciagon commented on #9
Some solution in sight?

[2017-06-17 06:51] pgarciagon commented on #9
Some solution in sight?

[2017-06-18 22:11] makarowdmitry commented on #16
I did not create passwords, accounts in steempy.
I want to create a new account for steemit.com.

My first command was for this:

`steempy newaccount merlo8901 --account steempy
`
http://joxi.ru/DmBgabzhXYad2P?d=1

But the account was not created.

Tell me how to create an account for steemit.com using steempy.
Thanks

[2017-06-18 22:25] Netherdrake commented on #16
You need an account with some liquid STEEM to create an account.

[2017-06-19 12:16] makarowdmitry commented on #16
For example, like this?
`steempy newaccount divali1234 --account  dinoo --fee "1 STEEM"`

dinoo  have STEEM
http://joxi.ru/82QjgPOHPNXBAd?d=1

Error again
http://joxi.ru/krDg3Yjh19e5Ap?d=1

[2017-06-19 21:30] Netherdrake commented on #16
Here is a step by step requirement.

1.) Import your existing account (dinoo) into steempy
2.) Set local wallet password (this should happen automatically in step 1), you can set env variable `UNLOCK` to avoid being prompted for pw every time.
3.) Run steempy newaccount

[2017-06-20 09:46] makarowdmitry commented on #16
I took all the steps.
1. Imported account
2. Run creation new account.

everything is ok!

I have a question:
1. Minimum account_creation_fee in steempy 1 STEEM?
2. Can I create account without fee or with official account_creation_fee: 0.200 STEEM? How to do it?

I tried to do without fee and got an exception:
[code]

[2017-06-23 18:43] fxnormaluser commented on #9
I just found out, how it works.

This doesn't work:

```[{'account': 'account1', 'weight': 5000}, {'account': 'account2', 'weight': 5000}]```

This works:

```from collections import OrderedDict```
```[OrderedDict('account': 'account1', 'weight': 5000), OrderedDict('account': 'account2', 'weight': 5000)]```

[2017-06-27 19:17] fxnormaluser commented on #9
Actually it still doesn't work :/

[code]

[2017-06-28 04:29] aaroncox opened #20 "Streaming blocks throws an exception when global props fail to return"
[code]

I've been experimenting with a voting bot and at least once a day this is crashing the script.

I'd be willing to fix this myself - but I'm not sure what the preferred approach would be. Should the `info` call be prevented from returning a `NoneType` object, or should there be a retry of fetching the info, or finally should there just be an `if` statement to ensure it's a dict before it ca

[2017-06-28 07:22] Netherdrake commented on #20
I think in this case we could.
1.) Cache the head number.
2.) If info() is None, return cached value.

[2017-06-28 10:40] oflyhigh commented on #9
@Netherdrake

Hi, Is there some update about this issue?
I encountered the same problem when I tried to post comment with beneficiaries.

Thank you.

[2017-07-17 19:30] amainz opened #22 "HF 19 changes not included for shares calculation and weight"
Rshares and weight are not correctly calculated. The formulas need to be updated to reflect HF19 changes.

Functions that need updates:
sp_to_rshares
rshares_2_weight

[2017-07-24 23:34] bigdeej opened #23 "Voting Power does not update until a new vote is cast."
The value in "voting_power" returned from steemd.get_account("myaccount") does not update until after I make a new vote on steemit.com. The value will update to the correct "Voting Power" after I cast a new vote, however it does not update again until I cast another vote. It appears to not take into account the replenishing of the Voting Power until a new vote is cast under your account. Steemd.co

[2017-07-27 02:07] RicRock opened #24 "Create Post"
Learning my way around and getting the following error:

$ python
 from steem import Steem
 steem = Steem(wif='private_posting_key')
 steem.post(title="Test", body="blank", author="pennterra", tags=['spam','test'], self_vote=False)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ric/python/lib/python3.6/site-packages/steem/commit.py", line 325, in post
    re

[2017-07-27 02:28] Netherdrake commented on #24
The wif provided is not valid.

Also, its probably more convenient to add it with `steempy addkey <posting_key>`, then you don't have to hardcode keys in code.

[2017-08-03 05:32] amainz opened #27 "Voting not possible on posts, which has no votes"
I get an exception of:
<class 'steembase.exceptions.VotingInvalidOnArchivedPost'>

While voting on a post, which has right now no votes at all.

According to the code "net_rshares = 0" is an indication for a test post. But also for a fresh one.

`

        def vote(self, weight, voter=None):
        """ Vote the post

            :param float weight: Weight for posting (-100.0 - +100.0)

[2017-08-03 05:54] Netherdrake commented on #27
Fixed https://github.com/Netherdrake/steem-python/commit/87510e1a194bac1f636b138df02e47f4b1d6cfd2

[2017-08-10 15:17] RicRock commented on #24
Worked perfect.

Thanks for your help!

[2017-08-10 15:17] #24 closed

[2017-08-12 14:16] rpiskule opened #28 "Not Compatible On Windows 7"
Either steem-python or a dependency is using linux-only .h files, including getopt.h and unistd.h.

I have not been able to create a work-around to get this to run on windows. It would have been nice if somewhere in the documentation it said, "This does not run on windows" prior to me going through all these weird work arounds.

[2017-08-14 22:19] roadscape opened #29 "stream_from occasionally returns None"
Example:

[code]

Will sometimes fail like:

[code]

`stream_from` should never return None. If there is some issue it should throw an exception.

Output from the node indicates this case may have been due to double-production:

[code]

[2017-08-15 00:21] Netherdrake commented on #29
Fixed in https://github.com/Netherdrake/steem-python/commit/3f0a8b5e406a892609990ab5932ccce5a893eb1b

[2017-08-18 08:00] steemypete opened #30 "Return post url when creating new post and check success"
Is there a way to tell if create post was successful and get the URL of the post?

[2017-08-18 08:08] steemypete commented on #23
This is how steem works and you have to calculate it yourself using the time since the last vote.

[2017-08-21 23:10] GarethNelson opened #40 "Needs sqlite3 dependency added for python 3.6"
This is mainly a note to myself and will be fixed in my branch

[2017-08-23 18:43] john-g-g opened #41 "Add support for batch jsonrpc requests to http_client.py"

[2017-08-23 19:29] john-g-g opened #42 "Add circleci circle.yml file for CI"
- either version 1 or 2
- At very least, should build docker image, but really it should run all tests, preferably inside built docker container

[2017-08-23 19:45] john-g-g opened #43 "Remove pylint from test command until it passes"
https://github.com/steemit/steem-python/blob/fc20c9d8b0e0f9aac94e6ed65045a76c24bfe728/Makefile#L30 change this to `test-without-lint` until we pass the pylint tests. We don't want to ignore failing tests.

[2017-08-23 19:50] john-g-g opened #44 "Fix pylint issues"
`yapf` and `autopep8` will be useful here. Here is a `fmt` recipe I use:

https://github.com/steemit/jussi/blob/cfbfc006f4c6063e5fac54d68f98c17e26bcf883/Makefile#L46

[2017-08-23 20:43] john-g-g opened #45 "Should fail gracefully without write access to disk"
Not all library operations require keys and/or a wallet, eg, streaming blocks from blockchain.

[code]

[2017-08-25 14:52] miserableoracle opened #46 "'promoted' category not present in sort param of get_post function"
While executing following function,
`steem.get_posts(limit=self.no_of_post, sort="promoted", category=self.cat_c)`
I got following exception
`raise Exception("Invalid choice of '--sort'!")`

Looking into the code, I came across following observation
**get_post** function supports parameter _sort_ which is being checked against following list

[code]

**'promoted'** is not present in the list while

[2017-09-03 16:40] MarneeDear opened #47 "Example syncing blockchain to flat file will fail when file empty"
If this is your first time syncing the blockchain to a a file, the sync will fail if the file is empty. I added a check to see if the file is empty and return EOF if empty.

This is in docs/examples.rst

I will be making a pull request shortly.

[2017-09-04 01:37] KylePiira commented on #9
The issue is still present I'm going to check to see if piston has some way of solving this.

[2017-09-13 22:27] bennierex opened #50 "Update requirements; funcy v1.9 not compatible"
In the funcy module (currently at v1.9), they moved functions from `funcy.simple_funcs` to `funcy.funcs`:
[code]

Please update `account.py` to use the new import path or fix version dependency to `funcy==1.8`.

[2017-09-14 01:50] that1consultant opened #51 "Steempy Addkey"
Learning my way around and getting the following error for the steem conductor Wallet installation

https://steemit.com/steem/@furion/introducing-conductor-a-simple-steem-witness-toolkit

root@steemWitness123:~# steempy addkey
Traceback (most recent call last):
  File "/usr/local/bin/steempy", line 9, in <module>
    load_entry_point('steem==0.18.93', 'console_scripts', 'steempy')()
  File "/usr/l

[2017-09-17 19:03] MarneeDear commented on #50
We could make this backward compatible by wrapping the import statement in a try catch block. So if python cant find one path it uses another. This makes it possible to use funcy 1.9 or lower, depending on what is installed.

[2017-09-18 01:13] RicRock opened #52 "Random Error?"
I seem to randomly get the error below.

Example:
now < trx.expiration:
    {"now":"2017-09-18T00:44:00","trx.exp":"2017-09-18T00:43:34"}
    th_a  database.cpp:2857 _apply_transaction

I've had it happen during submitting a post, attempting an upvote, and transferring funds.

It appears that my VPS is at least 26 seconds off but it is not.

Is there something that I can adjust and extend the tran

[2017-09-18 07:40] bennierex commented on #50
@MarneeDear yes that could work. However, I'm not sure about possible side effects because of other incompatible changes in funcy 1.9. I'll try to find out more about that.

[2017-09-23 17:43] enki74 opened #54 "include file: 'unistd.h': No such file or directory"
Getting error on what appears to be unix header file when trying to install on Windows 10, can this be run on windows?

[2017-09-24 08:56] sneak opened #55 "calls to steemd are not robust in the face of timeouts"
[code]

[2017-09-24 09:14] sneak opened #56 ""key already in storage" is a warning, not a fatal, and should not stop execution of the task"
[code]

[2017-09-24 09:19] sneak opened #57 "ValueError fatal in steempy newaccount"
[code]

[2017-09-24 09:24] sneak commented on #57
ahh, fee needs to be specified as "6 STEEM" and not 6.  error should be better.

[2017-09-24 09:28] sneak opened #58 "should provide a subcommand for showing pubkeys or privkeys given an account+passphrase like cli_wallet does"
i attempted to `newaccount` and it added the keys to the local keyring using the new account's provided passphrase... but then failed when creating the account.

now, i've fixed that failure (now specifying the fee as a string and not an int) but the keys are already imported into the keyring (i don't know which, so i can't remove them) so it won't actually do the create now, it fails when attempt

[2017-09-24 09:28] sneak opened #59 "`steempy listaccounts` is slow"
i have a dozen accounts imported and `steempy listaccounts` should timeout/retry a lot faster.

[2017-09-24 10:27] sneak opened #60 "missing required feature: setting recovery account"

[2017-09-24 10:35] sneak commented on #51
dupe of #50

[2017-09-24 10:35] #51 closed

[2017-09-24 10:36] enki74 commented on #54
switched to linux have a new error

[2017-09-24 12:06] Netherdrake commented on #59
Adding an account should require specifying a username, to avoid the need for reverse lookups by private key.

This would also make `listaccounts` instant.

[2017-09-24 12:17] Netherdrake commented on #60
If you want to replace `cli_wallet`, I urge you to consider re-writing the `steempy` cli. Its a mess, and it could be done a lot better.

[2017-09-24 12:34] sneak opened #61 "orderbook subcommand is broken"
[code]

[2017-09-25 22:02] theoreticalbts opened #62 "steem.readthedocs.io does not reference this repo"
I started reading the docs, on http://steem.readthedocs.io/ as suggested by `README.md`.  That site says:

"`steem-python` is the official STEEM library for Python. It comes with a BIP38 encrypted wallet and a practical CLI utility called `stemepy`."

I wanted to submit a PR to change the typo `stemepy`, but I found (by clicking on the "Edit on GitHub" link) that the readthedocs site references th

[2017-09-25 22:05] Netherdrake commented on #62
I've offered to give away the `steem.readthedocs.io` namespace a few months ago, and the offer is still open.

[2017-09-25 22:55] sneak commented on #62
We don't want to use that site/URL.  Please delete it.  The authoritative documentation for steem-js and steem-python will be located within their respective repos, and will be extracted, hosted, and displayed on our devportal.

//cc @goldibex

[2017-09-26 06:11] aaroncox commented on #62
I use the readthedocs.io site all the time for reference, don't delete it until you've got something else up IMO.

[2017-09-26 14:10] Netherdrake commented on #62
I don't want to infringe on Steem's name, or confuse people about where the official documentation is.
At the same time, current documentation is in use by people.

I'm looking forward to guidance on what should I do.

[2017-09-29 17:27] robrigo opened #63 "package installed via `pip install steem` has funcy import errors"
System: Ubuntu 16.04 x64 minimal
Python: 3.5.2
Command: steempy addkey
Error output:
[code]

I believe the solution here is to release the latest patches to pypi.

[2017-09-29 17:31] robrigo commented on #63
nevermind, I see this is a dupe of #50

[2017-09-29 17:31] #63 closed

[2017-10-01 18:30] sneak commented on #62
As soon as our devportal's up (with the same docs from the repo), please feel free to kill off the RTD site if you wish.  You're not infringing anything by hosting MIT-licensed docs there - but they will eventually get out of date and our canonical docs will be at the devportal.

[2017-10-01 19:38] Netherdrake commented on #62
I'll deprecate the package and refer to `steemit/steem-python` and `devportal`.

[2017-10-01 22:10] Netherdrake opened #64 "Cherry-picked patches"
Please feel free to review and backport these fixes from my fork.
I will be deprecating my fork soon, so having it all in here would be nice.

https://github.com/Netherdrake/steem-python/commit/e3063620e3f0193c5957ed79d76673141b66cf72
https://github.com/Netherdrake/steem-python/commit/bcd9cc4d403bd8c69bfe80b07fe9508d5fca0c57
https://github.com/Netherdrake/steem-python/commit/3f0a8b5e406a892609990a

[2017-10-06 16:01] Suor commented on #50
One should not import from `funcy.whatever` but from `funcy` directly. Any internal modules (with the exception of py2 and py3 adapters) are not public interface and could change.

[2017-10-06 16:11] Netherdrake commented on #50
@Suor Thank you for `funcy`. Its one of my favorite Python libraries.

[2017-10-06 16:28] Suor commented on #50
@Netherdrake you are welcome )

Few things on funcy usage here:

- `list(pluck(...))` could be replaced with `lpluck()`. Most funcy sequence funcs have list versions.
- `filter(bool, map(f, seq))` could be written as `keep(f, seq)`.
- to flatten one level it safer to use `cat()/lcat()`:

[code]

[2017-10-07 16:00] marvin-we commented on #9
I had the same issue for [SteemJ](https://github.com/marvin-we/steem-java-api-wrapper) and I can confirm @Netherdrake theory - For me it was related to the byte representation.

You can check my implementation of the byte transformation starting with the `toByteArray` method of the [CommentOptionsOperation](https://github.com/marvin-we/steem-java-api-wrapper/blob/master/core/src/main/java/eu/bittr

[2017-10-07 16:56] KylePiira commented on #9
Until this issue is fixed in steem-python you can use piston like so:
[code]

[2017-10-10 14:21] noneedtoask opened #65 "AttributeError: 'Post' object has no attribute 'post'"
Has anyone this issue yet when editing an existing post?

File "edit_post.py", line 49, in post_steem
    returncode = p.edit(body=body)
  File "/testenv/lib/python3.6/site-packages/steem/post.py", line 288, in edit
    return self.post(
  File "/testenv/lib/python3.6/site-packages/steem/post.py", line 123, in __ge
attr__
    return object.__getattribute__(self, key)
AttributeError: 'Post' object

[2017-10-10 19:56] GarethNelson opened #68 "pip is no longer installing"
This is due to the weird stuff with setup.py (my own work, intended to allow keeping track of dependencies in only one place).

pip requires an "egginfo" subcommand in setup.py and fails to install without it:
pip.exceptions.InstallationError: Command "python setup.py egg_info" failed with error code 1 in /tmp/tmpbpllscr_build/steem/

To reproduce, do "pip install steem" in a clean environment

[2017-10-10 20:01] goldibex commented on #68
i actually get a different error:

[code]

[2017-10-10 23:35] GarethNelson commented on #68
That is a weird one as package_meta is in the same directory as setup.py

[2017-10-10 23:37] GarethNelson commented on #68
Some notes:
It seems to work with setuptools version 36.2.7, which is not the default.
I'm going to test upping the version number from python 3.5 to 3.6

[2017-10-13 18:46] john-g-g opened #74 "json method does not produce json"
https://github.com/steemit/steem-python/blob/998aad7d0e25563cdd5d25b56e9837440a44818c/steem/transactionbuilder.py#L167

[2017-10-13 18:49] john-g-g opened #75 "Disk access should not be required to make http requests"
https://github.com/steemit/steem-python/blob/33dc65cc6fc85c51f57e182abe5fadff573cfa6e/steem/steemd.py#L20

[2017-10-13 18:51] john-g-g opened #76 "langdetect is an unused dependency"
https://github.com/steemit/steem-python/blob/33dc65cc6fc85c51f57e182abe5fadff573cfa6e/steem/utils.py#L12

[2017-10-13 18:53] john-g-g opened #77 "steemd nodes configuration should not be stored in sqlite database"
https://github.com/steemit/steem-python/blob/33dc65cc6fc85c51f57e182abe5fadff573cfa6e/steem/steemd.py#L21

[2017-10-13 19:11] john-g-g opened #78 "package doesn't install gracefully on macos"
[code]
This is *technically* an scrypt issue, but we depend on it so we should fix it. As a workaround, I use this code in my Makefile:
[code]

The installation should, at the very least, check the default hombrew openssl lib location, with an instructional error message in the event homebrew and/or openssl not installed

[2017-10-13 20:01] john-g-g opened #79 "package cannot be installed in docker container"
https://github.com/steemit/steem-python/blob/33dc65cc6fc85c51f57e182abe5fadff573cfa6e/Pipfile#L6

Dockerfile base image doesn't support python 3.6, so build fails:

`AssertionError: steem requires Python 3.6 or newer`

[2017-10-13 20:05] GarethNelson commented on #79
Do we still need the docker container in this repo?

[2017-10-15 03:42] aditya-ramabadran commented on #27
This is still not fixed in steemit/steem-python, and I consider this to be quite a major issue.

I'm resorting to using `.commit.vote` rather than `.vote` due to this issue.

[2017-10-16 22:48] enki74 opened #82 "Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-3k9th27l/steem/"
(steemit_env) telesti@starship:~/python$ pip install -U steem
Collecting steem
  Using cached steem-0.18.103.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-3k9th27l/steem/setup.py", line 10, in <module>
        assert sys.version_info[0] == package_meta.required_python_ma

[2017-10-16 22:51] enki74 commented on #68
(steemit_env) telesti@starship:~/python$ pip install -U steem
Collecting steem
  Using cached steem-0.18.103.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-3k9th27l/steem/setup.py", line 10, in <module>
        assert sys.version_info[0] == package_meta.required_python_ma

[2017-10-16 23:09] GarethNelson commented on #68
"AssertionError: steem requires Python 3.6 or newer"

Are you using python 3.6?

[2017-10-16 23:47] enki74 commented on #68
I have installed it im not sure if its being used Im a little fuzzy on the environment. Im running ubuntu 16.04
after checking looks like not
(steemit_env) telesti@starship:~/python$ python --version
Python 3.5.2
(steemit_env) telesti@starship:~/python$ python3 --version
Python 3.5.2
how do I change it?

[2017-10-16 23:52] enki74 commented on #68
(steemit_env) telesti@starship:~/python$ sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.5 1
[sudo] password for telesti:
update-alternatives: using /usr/bin/python3.5 to provide /usr/bin/python3 (python3) in auto mode
(steemit_env) telesti@starship:~/python$
(steemit_env) telesti@starship:~/python$ sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/p

[2017-10-16 23:58] enki74 commented on #68
OK tried again now this:

(steemit_env) telesti@starship:~/python$ python3.6 -m pip install -U steem
Collecting steem
  Using cached steem-0.18.103.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-94spzq3n/steem/setup.py", line 8, in <module>
        import package_meta # t

[2017-10-17 06:05] E-D-A commented on #68
You are missing setuptools, did you already try installing it?

[2017-10-18 01:32] enki74 commented on #68
Yes I did but I'll work on it some more! Use pip?

[2017-10-18 02:55] enki74 commented on #68
tried this now

telesti@starship:~/python$ sudo -H python3.6 -m pip install -U steem
Collecting steem
  Using cached steem-0.18.103.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-ynnyueap/steem/setup.py", line 8, in <module>
        import package_meta # this is a simple

[2017-10-18 09:37] drov0 commented on #82
AssertionError: steem requires Python 3.6 or newer

You need python 3.6

[2017-10-18 12:01] E-D-A commented on #68
So if you go into python command line, with "python3.6", and you type "import setuptools.config". I assume you get a similar error? So it means the module is not installed.
If so, please run "pip -V" from linux command line and see what version is returned. Is it pointing to Python3.6? You should also have a pip3 command or even a pip3.6 command, in case the references are not correct.
The issue w

[2017-10-18 14:09] enki74 commented on #68
OK this
telesti@starship:~$ python3..6 import setuptools.config
python3..6: command not found
telesti@starship:~$ python3.6 import setuptools.config
python3.6: can't open file 'import': [Errno 2] No such file or directory
telesti@starship:~$ pip -V
pip 9.0.1 from /home/telesti/.local/lib/python2.7/site-packages (python 2.7)
telesti@starship:~$ pip3.6 -V
pip3.6: command not found
telesti@starship:~

[2017-10-18 16:41] GarethNelson commented on #78
This is likely the cause of the build issue for yo on OS X too.

Please supply a patch to the makefile that includes your fix and we can update pypi to make it work.

[2017-10-18 16:47] GarethNelson commented on #82
As drov0 stated, the package now requires python 3.6.

3.6 is not in most distro package repos yet, please take a look here:
https://www.python.org/downloads/release/python-363/

Personally I find it best to install from source and use "make altinstall" to avoid compatibility issues with existing python install.

[2017-10-18 16:54] GarethNelson commented on #68
Please follow these directions:
1 - Download the source tarball from https://www.python.org/downloads/release/python-363/ and use ./configure and "make altinstall"

2 - python3.6 -m pip install -U pip

3 - pip3.6 install -U setuptools

4 - pip3.6 install -U steem

Apologies for all the confusion, there are some features in 3.6 that are now relied upon by the package, the above instructions should

[2017-10-18 16:58] GarethNelson commented on #68
With regards to docker, it's a containerisation platform, a full tutorial would be out of scope for this repo but basically you should be able to use one of these images as a base:

https://hub.docker.com/_/python/

Then do "pip3.6 install -U steem" and setup your application code within the Dockerfile.

[2017-10-18 19:01] enki74 commented on #68
ok got to install ofsteem Exception:
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/local/lib/python3.6/site-packages/pip/commands/install.py", line 342, in run
    prefix=options.prefix_path,
  File "/usr/local/lib/python3.6/site-packages/pip/req/req_set.py", line 784, in in

[2017-10-18 19:11] GarethNelson commented on #68
You need to do it as root if you're installing globally :)

[2017-10-18 19:25] enki74 commented on #68
this is whatt i did telesti@starship:~/Downloads/Python-3.6.3$ sudo -H pip3.6 install -U steem

[2017-10-18 20:16] GarethNelson commented on #68
If you ran it with sudo i'm at a loss to explain why you're getting permissions errors, but this is not really a steem-python issue as such.

[2017-10-18 23:13] aditya-ramabadran commented on #50
It seems the original `account.py` issue was already fixed. The new statement is:
`from funcy import rpartial`
which should be backwards-compatible as well.

[2017-10-19 01:23] enki74 commented on #68
hey thanks for your help I seem to have steem installed now running the sample follow.py script getting errors Ill take over to that group!  Thanks a bunch!!!

elesti@starship:~/Downloads/Python-3.6.3$ sudo -i pip3.6 install -U sqlite3
[sudo] password for telesti:
Collecting sqlite3
  Downloading sqlite3-99.0.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most rec

[2017-10-19 14:54] enki74 commented on #82
Thanks I think I got this part done

[2017-10-19 17:34] GarethNelson commented on #68
sqlite3 should be part of the standard library, but if you installed python 3.6 without libsqlite3 installed, it won't compile.

Check your distro's packages for libsqlite3-dev and then reinstall python 3.6

[2017-10-19 17:34] GarethNelson commented on #82
Closing this as duplicate of other issue, see my response there regarding sqlite3

[2017-10-19 17:34] #82 closed

[2017-10-26 14:47] theoreticalbts opened #89 "SignedTransaction needs to take "chain" parameter"
Here is a minimal example that demonstrates the issue:

[code]

What needs to happen is the `SignedTransaction()` constructor needs to be adapted to take a named parameter called `chain` which contains a dictionary of chain settings including prefix, asset names and chain ID.  (As a convenience `chain` can also be a string, in which case the dictionary is determined by looking it up in `known_chai

[2017-10-26 16:47] warpo commented on #68
I also received some installation issues when installing steem via pip as a dependency for myownproject. Note I'm working in Ubuntu 16.04 LTS. My OS does not package Python 3.6 as default so I had to install manually as this is a requirement for steem. Here are steps I followed.
`sudo apt install python3-setuptools libsqlite3-dev`
`cd ~/Downloads`
`wget https://www.python.org/ftp/python/3.6.3/Pyth

[2017-10-26 23:46] keepcalmandread opened #90 "win7 python 3.6 ( Building wheels for collected packages: ujson )"
win 7
python 3.6
i try install with:

pip install -U steem

  Running setup.py bdist_wheel for ujson ... error
  Failed building wheel for ujson
  Running setup.py clean for ujson
Failed to build ujson
Installing collected packages: ujson
  Running setup.py install for ujson ... error
Exception:
Traceback (most recent call last):
  File "C:\Users\hayrettin\Anaconda3\lib\site-packages\pip\compat\__

[2017-10-30 04:46] clayop opened #91 "Need more description about dependency"
The newer version seems require python 3.6 (while 16.04 LTS has 3.5.2 as a default). It would be better to describe details of dependency and supports for old version users.

[2017-10-30 05:29] clayop opened #92 "Installation Error"
Ubuntu 17.10
Python 3.6.3

[code]

[2017-10-31 17:33] clayop commented on #92
Can be resolved by
`pip3 install -U pytest`

I will test clean installation cases and will PR the documentation

[2017-11-06 18:57] theoreticalbts opened #96 "Properly document steem-python packaging"
This ticket is about the awful experiences I'm having with the Python package manager and `steem-python`.

Let's say I want to create a simple tool called `mytool` that leverages `steem-python`, running on Ubuntu 16.04.  I create minimal source files by `cd ~/src` and then executing the following script:

[code]

Then I build Python 3.6.3 locally from source with `--prefix=$HOME/opt/python3.6.3` f

[2017-11-06 19:00] theoreticalbts commented on #96
So I did some Googling after writing most of the above post, and I'm learning all about `pipenv` [here](https://docs.pipenv.org/).  First of all, I don't really like its installation process.  I end up doing something long to try to keep things isolated in a `virtualenv` and not do things user-wide:

[code]

[2017-11-07 20:08] theoreticalbts commented on #96
@jnordberg @john-g-g I see `yo` uses `steem` as a package and doesn't have these issues, do you have any insights?

[2017-11-09 04:16] chenlocus opened #97 "installation error in .egg"
trying to install steem-python, but found this error:

Writing C:\Users\hchen\AppData\Local\Temp\easy_install-vxhgyii2\recommonmark-0.4.0\setup.cfg
Running recommonmark-0.4.0\setup.py -q bdist_egg --dist-dir C:\Users\hchen\AppData\Local\Temp\easy_install-vxhgyii2\recommonmark-0.4.0\egg-dist-tmp-z3mpobf6
File "build\bdist.win-amd64\egg\sphinxcontrib\builders\rst.py", line 139
except (IOError, OSErr

[2017-11-09 08:25] themarkymark-steem opened #98 "delegate_vesting_shares does not honor UNLOCK env var"
I keep getting this message with the official version of steem-python (0.18.103) when using export UNLOCK=<wallet password>

steembase.exceptions.MissingKeyError

If I do steem = Steem(keys=[]) it works fine.

When using Netherdrake's version, it works fine off the environment variable.

Is this expected, or is it a bug?

[2017-11-09 17:41] pgarciagon commented on #91
I agree. Support of the latest LTS ubuntu version should be garanteed. Moreover, the mayority of steem nodes are running 16.04, and a lot of scripting is done with steem-python. A upgrade of steem-python could break important maintenance scripts (fail-overs etc).

[2017-11-10 03:00] chenlocus commented on #92
Using cached steem-0.18.103.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\holroyd\AppData\Local\Temp\pip-build-tqwdzgty\steem\setup.py", line 8, in <module>
        import package_meta # this is a simple tool for loading metadata from Pipfile and other places
      File "C:\Us

[2017-11-10 10:43] bitfag commented on #13
Guys could you explain why this change was introduced? I'm often getting an errors while making transactions. I'm on golos blockchain and I'm using a forked version of steem-python.

Here is the my report to golos-python:
https://github.com/GolosChain/golos-python/issues/3

I reverted this change and errors disappeared.

[2017-11-10 15:12] GarethNelson commented on #13
This might explain a recent bug in yo too

On Nov 10, 2017 10:43 AM, "Vladimir Kamarzin" <notifications@github.com>
wrote:

[2017-11-16 11:42] yuxisteem opened #101 "The voting power returned from Python library is inconsistent with steemd"
I have found a potential bug in Steem Python library. The voting power returned from Python library is inconsistent from the VP returned from steemd.com. For example, I ran the Python script to get my VP:

[code]

At the time of testing, it returns:

[code]

However, it shows 59.39% in steemd

![image.png](https://res.cloudinary.com/hpiynhbhq/image/upload/v1510828939/csrh3kowbspi3n2hc07i.png)

<br

[2017-11-16 17:58] E-D-A commented on #101
That is actually correct behaviour. :)
The VP value is only updated when you vote, so with the python query you get that value. The value on Steemd.com takes VP recovery into account and shows the actual value as if you would vote at that moment.
Hope that explains.

[2017-11-17 16:50] DoctorLai opened #103 "account.has_voted throws AttributeError"
I am a fan of the steem-python library, and I think there is a bug in the *has_voted* method of the account class.

See this code:

[code]

Let's run it using `python3 test.py` assuming above script is saved to `test.py`

It will **always** throws the `unexpected error - attribute error` which basically makes the method unusable.

![image.png](https://res.cloudinary.com/hpiynhbhq/image/upload/v151

[2017-11-26 04:12] abhi3700 opened #106 "Install steempy issue"
I have Windows 10 running on my laptop.
While installing the steem-python using pip, i found the following error in command prompt as follows:
Initially it asked for "Microsoft C++ 2015". then i installed that tool. And now it is showing error in opening "unistd.h" file.
Please, find the attached screenshots.....

![steempy_error screenshot 1](https://user-images.githubusercontent.com/16472948/332

[2017-12-07 22:06] kharoof opened #108 "Exceptions When Streaming Comments"
I have tried various attempts at streaming blockchain posts and issuing a command on pre defined events via a python script using the steem-python package (i.e. vote on posts or add a comment when certain conditions are met)
but
I keep running into the issue where the python script I am running crashes. This is really annoying and I have tried several implementations

My latest implementation is a

[2017-12-10 09:57] E-D-A commented on #108
Sounds like the exception you have has nothing to do with the fact that you streaming comments. Can you please post the exception you are getting?

Also, I would recommend not using stream_comments(). It automatically returns a Post object for each streamed post. This causes a lot of overhead as an extra API call is performed every single time. Better to do some filtering and call Post() when need

[2017-12-19 01:33] DoctorLai opened #109 "steem_to_sbd and sbd_to_steem print misleading results"
The Python github `convert.py` is located at:
https://github.com/steemit/steem-python/blob/master/steem/converter.py

Here is a test script to print the feed price:
[code]

So it prints the following, which is quite misleading... at least, the SBD should be more expensive than STEEM, as of today.

![image.png](https://res.cloudinary.com/hpiynhbhq/image/upload/v1513638315/wc06kl9joidruo7bcgcp.png)

[2017-12-19 09:29] E-D-A commented on #109
That is by design as 1 SBD is worth 1 USD. It is the market that is misleading, wanting to pay 10 times more.  :) Also, the average price is used, hence it is showing only 2.2SBD for 1 STEEM.
The whole system could be questioned, but this is just how it works at the moment.

[2017-12-23 12:20] fxnormaluser commented on #11
With the recommended usage:

Usage: all_comments = Post.get_all_replies(Post('@foo/bar'))

It does not work either.

[2017-12-24 23:50] kingsofcoms opened #110 "What is the function to get Steem Power of an account?"
I've looked over at https://steem.readthedocs.io/en/latest/ and i couldn't find anything. Is it possibe?

all i got was
sp_to_rshares(sp, voting_power=10000, vote_pct=10000)

Parameters:
sp (number) – Steem Power
voting_power (int) – voting power (100% = 10000)
vote_pct (int) – voting participation (100% = 10000)

[2017-12-25 01:16] kingsofcoms commented on #110
Tried

from steem.account import Account

account = Account("manuelcho12")
print("VP: %s" % account.voting_power())
print("SP: %s" % account.sp())

Got this error:
VP: 94.13
Traceback (most recent call last):
  File "steemapp.py", line 5, in <module>
    print("SP: %s" % account.sp())
TypeError: 'float' object is not callable

[2017-12-25 12:04] E-D-A commented on #110
You get this from the Account object. You have to take into account SP delgated to you and SP you have delegated to get the active SP. I don't think there is an out of the box function.
See below. I have used rstrip to remove VESTS from the string. I haven't checked, but there might be a converter function that can simplify it, but the concept stays the same.
[code]

[2017-12-25 22:45] kingsofcoms commented on #110
thank you for the workaround.
account.get_balances() also gets total vests but have to use json and to convert total vests to SP.

[2017-12-26 12:54] #110 closed

[2017-12-31 08:55] Folken8 commented on #106
I have the same issue

![error py](https://user-images.githubusercontent.com/31020925/34460508-c182f38a-ee10-11e7-97db-3acc2c50c477.png)

[2017-12-31 11:30] Folken8 opened #111 "Failed building wheel for scrypt"
Windows 10 64
Fresh install using Anaconda
Python 3.6.3 |Anaconda, Inc.| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)] on win32

I have installed C++ Visual Studio

But I keep getting an error for scrypt :

`  C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\BIN\x86_amd64\cl.exe /c /nologo /Ox /W3 /GL /DNDEBUG /MD -DHAVE_CONFIG_H -Dinline=__inline -Iscrypt-1.2.0 -Iscrypt-1.2.0

[2018-01-04 21:17] sneakyness opened #112 "toml version conflict?"
Followed [install guide](http://steem.readthedocs.io/en/latest/install.html), noticed this float by:
[code]

`pip install -U steem` always seems to do this:

[code]

`pip show toml` says 0.9.3, I tried both `pip install 'toml==0.9.3.1' --force-reinstall` and `pip install 'toml==0.9.4' --force-reinstall`, the former seems to skip the .1, and the latter does not seem to satisfy steempy.

Trying to r

[2018-01-04 21:31] sneakyness commented on #112
I found [this post](https://steemit.com/steemit/@crokkon/steem-blockchain-access-with-python-setting-up-steem-python-with-docker) where some seem to be editing the metadata to just accept version 0.9.3

Is there a specific reason we are using 0.9.3.1? If not, perhaps we should pick 0.9.3 or 0.9.4

[2018-01-04 23:08] sneakyness commented on #112
Changed the version number in pipfile.lock to match the version of toml I had installed, after that make finished without issue and steempy seems to run fine?

[2018-01-06 13:06] AmoghSubhedar commented on #111
I had a similar problem when installing the steem-python package on Windows.
From the errors, I think you are missing some header files for building this package.
Try installing python3-dev through pip3.

[2018-01-07 11:27] hrosspet opened #114 "Default public nodes don't work"
After steemd.steemit.com stopped running, steem-python no longer works with default values:

With 'https://api.steemit.com' it works just fine:
[code]
yields: `<Post-@steemitdev/update-your-steem-apps-big-changes-coming-for-3rd-party-developers>`

However:
[code]
just hangs and yields nothing when trying to make the connection.

I think this migh be one of the possible points of failure:
https://g

[2018-01-07 14:03] AmoghSubhedar commented on #114
When I try to access a post or transfer stream, the connection just hangs and yields nothing.
After stopping the process from the terminal, I get this:
block_interval = self.config.get("STEEMIT_BLOCK_INTERVAL")

[2018-01-07 18:36] crokkon commented on #112
see: #117 and https://steemit.com/steem-python/@themarkymark/fix-install-issue-with-official-steem-python-library

[2018-01-07 23:26] firemouse604 commented on #114
Steemd.steemit.com node is retired..
https://www.steem.center/index.php?title=Public_Websocket_Servers

I was able to fix via
nodes = [
	'https://steemd.steemitstage.com/',
	'https://gtg.steem.house:8090',
	'https://steemd.steemgigs.org'
]
s = Steem(nodes)

However, I am not sure how to fix this for Blockchain()

[2018-01-08 11:34] AmoghSubhedar commented on #114
Yes,

Cannot access stream of posts or transfers on any of these nodes.

[2018-01-08 11:50] hrosspet commented on #114
As I said earlier, this works:
`nodes = ['https://api.steemit.com']`

[2018-01-08 13:56] crokkon commented on #114
see also the documentation on custom nodes here in the repo:
https://github.com/steemit/steem-python/blob/master/docs/steem.rst#setting-custom-nodes
this describes how to set custom nodes once for all instances or individually

[2018-01-08 14:27] crokkon commented on #103
Account.has_voted() expects a Post(), not a string:
[code]

[2018-01-08 17:37] theoreticalbts commented on #112
Possible duplicate of #96

[2018-01-08 18:34] E-D-A commented on #98
I also had this issue a few months back so I also implemented a workaround.
When I tested it again a few weeks ago, it worked as expected. So everything thing seems fine now.

[2018-01-08 18:41] themarkymark-steem commented on #98
I had a similar issue with post.reply but it didn't work with wallet.unlock() but worked with Env var.

[2018-01-09 08:08] cenpengzhu commented on #111
I met the same error. I created and edited a unistd.h file.Then it told me that I need a "sys/time.h"file.

[2018-01-09 09:02] cenpengzhu commented on #111
I got a compiled wheel from [here](https://pypi.python.org/pypi/scrypt/),and changed the name for my environment python36.Now i can import steem.

[2018-01-09 17:50] hrosspet commented on #114
Since today neither `nodes = ['https://api.steemit.com']` is working.

Does anybody know a solution?

[2018-01-09 20:18] KylePiira opened #119 "Internal Error when streaming comments"
Getting this error when using stream_comments() also getting a similar error when using other Blockchain module actions. Tested on multiple networks.

[code]

[2018-01-09 20:22] KylePiira commented on #114
@hrosspet are you having the same issue I am here: https://github.com/steemit/steem-python/issues/119

[2018-01-10 01:26] KylePiira commented on #108
Experiencing similar error using stream_comments() also getting a error when using other Blockchain module actions. Tested on multiple networks.

[code]

[2018-01-10 01:26] KylePiira commented on #119
I'm closing this as potential duplicate of https://github.com/steemit/steem-python/issues/108

[2018-01-10 01:26] #119 closed

[2018-01-10 06:51] cenpengzhu commented on #52
Same error.You can adjust the expiration by "steem.commit.expiration".The default value is 60. It worked for me.

[2018-01-10 09:55] spam1712 commented on #114
hey everyone

if you cant connect at all, use

`s = Steem(keys=[privatepostingkey, privateactivekey],nodes= nodes)`

and

`Post(le_post, steemd_instance=s)`

with that said, im having the same problem with
`claim_reward_balance`

sadly it doesnt have an arg of `steemd_instance`
so it doesnt connect and goes to limbo

pls help!

[2018-01-10 10:03] spam1712 commented on #114
okey guise

this worked

`
steemd_nodes = ['http://steemd.pevo.science',]
set_shared_steemd_instance(Steemd(nodes=steemd_nodes))
s = Steem(keys=[privatepostingkey, privateactivekey],nodes= steemd_nodes)
s.claim_reward_balance(account=myusername)`

[2018-01-10 10:10] hrosspet commented on #114
I can confirm that `'http://steemd.pevo.science'` works as opposed to `'https://api.steemit.com'`.

[2018-01-10 11:28] bobinson commented on #92
facing same issue

[2018-01-10 19:57] bennierex commented on #68
The toml issue is still existent in the latest steem-python version. Suggesting updating the requirements to toml==0.9.4 (assuming it has no backwards-incompatible changes).

I also encountered the `ModuleNotFoundError: No module named 'setuptools.config'` error, wich I resolved by running `pip install --upgrade setuptools` before installing steem-python.

[2018-01-11 13:06] spiiin commented on #111
You can install scrypt from sources via
[code]
You need to open setup.py and change lines:
[code]
to your OpenSSL libraries. You can use libraries from here:
https://slproweb.com/products/Win32OpenSSL.html
(you need to use version <1.1.0, because of names of lib files are changed in it, latest correct version - Win32 OpenSSL v1.0.2n)

[2018-01-11 13:52] htotoo commented on #14
Temp solution:
` steempy set nodes https://api.steemit.com  `

[2018-01-11 16:50] cifer-lee commented on #114
seems `api.steemit.com` doesn't work well on `get_ops_in_block` call, it keeps returning empty result.
anyone encountered this issue?

[2018-01-11 16:51] cifer-lee commented on #108
seems `api.steemit.com` is not so stable than former `steemd.steemit.com`

[2018-01-11 17:53] KylePiira commented on #108
@cifer-lee Its a shame that they depreciated their stable node before properly testing the new one with all of their own official modules.

[2018-01-12 11:30] cifer-lee commented on #108
@KylePiira all right

[2018-01-14 11:42] amosbastian opened #120 "AttributeError: 'Steemd' object has no attribute 'commit' in dex.py"
When using the functions `buy()`, `sell()` and `cancel()` in `dex.py` the following error occurs:
[code]

[2018-01-14 11:45] amosbastian commented on #120
#121

[2018-01-14 19:19] amosbastian opened #122 "AttributeError: 'Steemd' object has no attribute 'commit' in steem-python"
When using the functions `buy()`, `sell()` and `cancel()` from `dex.py` / the `Dex` class it returns the following error
[code]

#### Expected behavior
When executing the following example program `dex_bug.py` you expect it to place an order on the market
[code]
which would look like this

![order_example.png](https://res.cloudinary.com/hpiynhbhq/image/upload/v1515934058/lwommwcumczfcj85bvlr.png)

[2018-01-16 20:06] andybets commented on #114
@cifer-lee I found that `blockchain.stream_from` was giving me frequent errors with `api.steemit.com` so have temporarily (I hope) switched to a community public node for those calls.

[2018-01-16 21:06] hrosspet commented on #114
@andybets which community node do you use? I tried `https://steemd.privex.io` and `http://steemd.pevo.science` and both are kind of slow.

[2018-01-17 07:14] juicypop commented on #114
@hrosspet I tried both and can't get operations on posts but they work for sending funds

It's a pity that the official node isn't working properly :(
I hope they fix it soon

[2018-01-17 07:32] andybets commented on #114
@hrosspet I made a page for viewing the RPC node response times [here](www.steemreports.com/steem-rpc-monitor/). Generally it seems that when they're new they're faster, and then people start using them! ;)

[2018-01-17 08:15] juicypop commented on #114
@andybets how do I know if a node is http or https and if they have full support for all operations?
I mean without trying every single one :D

[2018-01-17 08:21] andybets commented on #114
@juicypop all those listed on my site are https, but I guess the easiest way would be to test each operation you need. I do 7 different operations (I think, but don't remember which without checking code), so if some nodes have some repeated errors, it suggests they're not full nodes.

[2018-01-17 09:16] juicypop commented on #114
Thank you @andybets

I will give it a try this evening.
It's a pain to switch nodes constantly for different operations though

Are there any news about the official steemit API node out there and when it will be full functional again?

[2018-01-17 09:38] hrosspet commented on #114
@andybets wow, the rpc node monitor is supercool! Just upvoted some of your newer posts to express my appreciation. Thank you!

[2018-01-17 10:41] andybets commented on #114
@hrosspet many thanks for the votes!

@juicypop I know. I'm not sure if/when it'll be working well again, I'll be looking into it again soon though, because it doesn't feel comfortable relying on community nodes.

[2018-01-17 12:25] AmoghSubhedar commented on #114
@juicypop so what are you finally using for get_replies() ?
I have some code that also uses it and was wondering how you overcame the issue.

[2018-01-17 12:59] juicypop commented on #114
@AmongSubheader
For get_replies I'm switching to
'https://api.steemit.com'
For payments back to
'http://steemd.pevo.science'

Very uncomfortable when you ask me :(

[2018-01-17 19:32] moisesmcardona commented on #9
Still not fixed.

Tried the piston workaround but it doesn't allow me to use other parameters like tags or app.

Would like to see this fixed in this library so that I can fully rely on this library.

[2018-01-19 05:21] rosevill opened #123 "Support read-only filesystem"
In a read-only file system environment, such as AWS Lambda, import Steem module will get the following error.
Please provide a way to configure storage path.

  from steem import Steem
  File "/usr/local/lib/python3.6/site-packages/steem/__init__.py", line 2, in <module>
    from .steem import Steem
  File "/usr/local/lib/python3.6/site-packages/steem/steem.py", line 1, in <module>
    from .commi

[2018-01-22 21:09] Boontjie opened #126 "Websocket implementation"
Not an issue, but a query/offer.  Would you like to have websockets enabled in the library as well?  May I add the code?

[2018-01-23 19:32] Boontjie commented on #123
This is difficult to do as a general solution.  You would need to assume some sort of database, I suggest you convert this section of code to use a database on AWS instead on your own.

[2018-01-24 19:06] cyon1c opened #127 "Local Development & Testing Setup"
pip3 install steem currently hangs for a long time, but installs correctly after several minutes.

Cloning the repo locally and using it in a script takes several steps.

If no nodes are specified in the constructor of the Steem object, calls will fail as the current fallback is `steemd.steemit.com`, an invalid and offline endpoint.

Second, there were a significant number of dependencies I had to

[2018-01-25 17:51] cyon1c commented on #127
This is resolved by changes in `bugfix/pip_install`.

[2018-01-25 17:51] #127 closed

[2018-01-25 17:57] cyon1c opened #128 "Python2 Support"
This is a broader issue to document and track the progress of adding Python2 support to steem-python

#Subissues

- [x] Remove Breaking Python 3 Syntax #138
- [x] Backport Testing #135
- [x] Unify Bytes handling #157

[2018-01-25 19:26] sneak commented on #128
the first one i found was steembase/base58.py

[2018-01-25 19:28] cyon1c commented on #128
I'm going to work through each of these and catalogue any relevant documentation for reference sake.

[Dict-merging in Python2](https://stackoverflow.com/questions/38987/how-to-merge-two-dictionaries-in-a-single-expression) - steem/account.py line 220.

[2018-01-26 07:27] holgern commented on #106
I wrote a tutorial for python anaconda:
https://steemit.com/utopian-io/@holger80/how-to-install-steem-python-for-windows

[2018-01-27 15:42] sneak opened #130 "codebase does not pass linting"
The codebase conforms to pep8 formatting now (after I fixed it) but it still doesn't pass flake8 linting checks.

see current list of failures here:

https://circleci.com/gh/steemit/steem-python/30

We should fix this and merge in the `add-linting-support-to-tests` branch to ensure that no sloppy or error-prone code makes it onto master.  This should aid in code review, much like `-Werror` does in

[2018-01-27 15:45] sneak opened #131 "steemtail's output always returns zeroes for trx_id"
e.g.

[code]

the `trx_id` is always all zeroes when running `steemtail`.

[2018-01-27 15:46] sneak commented on #123
I believe this may have already been fixed.  Could you verify that this issue still exists on `master`?

[2018-01-27 16:27] sneak opened #132 "steem needs a full-featured CLI"
I have begun the very basic framework of a new python-based steem CLI called simply `steem`.

The branch is a misnomer, it is a new tool, not a rework of `piston`/`steempy`.

https://github.com/steemit/steem-python/tree/start-fixing-steempy

[2018-01-27 18:46] crokkon commented on #9
the following did the trick for me. This is basically copying piston code parts into steem-python. Thanks @KylePiira for the pointer to piston!

[code]

in combination with
[code]

This is clearly not a fix, but a workaround. And I'm not sure if it would work with more than one beneficiary...

[2018-01-27 20:16] moisesmcardona commented on #9
Don't know if I'm doing it right, but on steemd when I push the transaction, all I see in the extensions part is `extensions []`. Seems something is not working right in my case

[2018-01-27 20:20] moisesmcardona commented on #9
Thanks @crokkon! It worked but what I did was to manually added the beneficiary in the ops code you posted below. I think if that structure is followed, it should work with more than one.

[2018-01-27 22:31] cyon1c commented on #106
Currently, steem-python is compatible with Python 3.5 and up only. If you are able to use Python 3, you can run `pip3 install steem`.

If your environment requires 2.7, there is active development being done on branch `feature/python2_compat` to allow compatibility across both versions.

[2018-01-28 13:19] sneak opened #133 "Amount class should be refactored into Asset"

[2018-01-28 14:31] emre commented on #9
I can confirm @crokkon's workaround works for multiple beneficiaries.

https://steemd.com/tx/ebfaf7cc63a8cd0224acc1eab3d4a726925580be

[2018-01-30 20:08] cyon1c opened #135 "Backport Testing"
Having finally removed all Python 3 only syntax and completed Issues #128 , I'm now going through all the tests currently in the package.

Currently of the 65 tests in the package currently, 46 fail.

First order of business is getting these tests passing.

[2018-01-30 20:11] cyon1c commented on #128
Issue is blocked by Issue #135 . Don't want to PR this until the package is passing all tests.

[2018-01-30 20:30] bennierex opened #136 "Install fails using pip3"
I can't install without having *pipenv* installed first. The readme suggests it can also be installed using *pip*.
This needs to be either fixed, or the installation instructions should be changed as to only mention *pipenv*.

[code]

[2018-01-31 07:50] sneak commented on #136
Installing with `pip3` requires `pipenv` to be installed (even if you're not using pipenv to manage your virtualenv) because the authoritative list of requirements is stored in the Pipfile, not an old-style requirements.txt, and the `pipenv` module is required to parse that and put it into setuptools-land.  You *can* install using only `pip3` but it needs the `pipenv` module for parsing.

`pip3 in

[2018-01-31 07:50] #136 closed

[2018-01-31 09:53] bennierex commented on #136
Thanks for updating the readme on this.

[2018-01-31 17:04] cyon1c opened #137 "New Tests"
With all of the changes made to make steem-python compatible with Python 2, there are new tests necessary to ensure no logic was broken.

[2018-01-31 17:22] cyon1c opened #138 "Remove Breaking Python 3 Syntax"
A significant number of python3-isms have been removed from the library already. While working through importing the Steem object, a large majority of the python3 syntax was removed. Now working on removing any uncovered by the tests.

[2018-02-01 13:17] DoctorLai commented on #138
I have a similar issue when running the CLI  steempy
[code]

[2018-02-02 00:11] cyon1c commented on #138
@DoctorLai for the time being, if you are able to run the CLI with Python 3, you shouldn't have any issues. We are actively adding compatibility for Python 2.

[2018-02-02 08:46] mostar opened #140 "Fail to import steem, SyntaxError: invalid syntax"
Hello,

After fresh install following "Installation with pipenv"

I fail to run the example scripts in: http://steem.readthedocs.io/en/latest/examples.html

all fail on

`from steem import Steem`

python
Python 3.4.5 (default, May 29 2017, 15:17:55)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-11)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call l

[2018-02-02 15:44] tpaixao opened #141 "Commit.post has invalid defaults"
When posting a top-level comment using

steem.commit.post(title,body,author,permlink,reply_indentifier,json_metadata,comment_options,community,tags)

you NEED to set the tags argument to  the category you want the post to appear in. Otherwise, you get an error about your permlink being the wrong size. However, the default value is None.

[2018-02-02 22:55] hakancelik96 opened #142 "these codes may be incorrect"
I don't get it right here is there a code redundancy, or it is written incorrectly,
maybe
[code]
but these codes are wrong because of the raise, if run raise code ,vote  function is stop

https://github.com/steemit/steem-python/blob/f3db5e3d9bb6d98a8e2286c91b050813f3311dcc/steem/commit.py#L370

https://github.com/steemit/steem-python/blob/f3db5e3d9bb6d98a8e2286c91b050813f3311dcc/steem/commit.py#L3

[2018-02-04 01:58] kirkins commented on #112
Facing a similar issue:

[code]

[2018-02-04 15:30] RJCM opened #143 "[Errno -2] Name or service not known"
Hello everyone..!

I'm newbie and  have a problem when I run the s.get_account ('UserName') instruction python enters a loop showing the following message ....

**WARNING:urllib3.connectionpool:Retrying (Retry(total=19, connect=None, read=None, redirect=0, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0xb665594c>: Failed to esta

[2018-02-05 13:41] holgern commented on #90
https://steemit.com/utopian-io/@holger80/how-to-install-steem-python-for-windows

conda install ujson

[2018-02-05 14:40] hakancelik96 commented on #143
use this codes
[code]

[2018-02-06 16:33] holgern commented on #111
Can set to resolved. I release py-scrypt 0.8.3, which includes wheels for python 3.6.
Read more here:
https://steemit.com/utopian-io/@holger80/py-scrypt-0-8-3-released

[2018-02-06 16:36] holgern commented on #106
I release py-scrypt 0.8.3, which includes wheels for python 3.6.
pip install scrypt is now possible on windows using python 3.6.
Read more here:
https://steemit.com/utopian-io/@holger80/py-scrypt-0-8-3-released

[2018-02-07 11:59] holgern opened #144 "License file is missing in steem-0.18.103.tar.gz"
The tar.gz file listed in https://pypi.python.org/pypi/steem contains no license file.

[2018-02-09 10:34] dzyk opened #145 "change"
can i take all posts?
s = steem
b = s.blog.Blog('mgu', steemd_instance=client)
po = b.all()
print (po)
for i in po:
    print (i)

print only
<generator object Blog.all at 0x7fa537e60a98>
...

[2018-02-10 01:11] kirkins commented on #27
Hi I'm getting this error.

`VotingInvalidOnArchivedPost()`

[2018-02-10 18:41] kirkins commented on #68
I'm facing the same error installing with pip

[2018-02-10 20:04] RJCM commented on #143
The above code did not work.

Try the issue code # 14  [https://github.com/steemit/steem-python/issues/14]
       **`steempy set nodes https://api.steemit.com`**

and it worked..!!!

[2018-02-10 20:04] #143 closed

[2018-02-10 20:22] kirkins opened #150 "What is an archived post?"
I'm trying to have a bot vote on posts of certain users.

I keep getting an exception about not being able to vote on archived posts.

I'm searching google and I can't find anything about what is an archived post on Steem.

Can someone explain the code block below:

[code]

https://github.com/steemit/steem-python/blob/master/steem/post.py#L247-L251

[2018-02-10 22:33] kirkins commented on #27
Strange looking at your fix @Netherdrake it seems the current code base is the exact same to the fixed commit posted (aside from `and` vs `==`).

I will have to switch to your fork.

[2018-02-12 11:51] cutetechie commented on #27
Did @Netherdrake fix solved it?
I am also getting the `VotingInvalidOnArchivedPost()` exception.

[2018-02-12 12:43] Netherdrake commented on #145
Blog is lazy by default, and returns a generator. To read all posts, you could do this:
[code]

[2018-02-12 15:40] holgern commented on #112
Can you push a new release to pypi, as it is already fixed in the github. This would be great.

[2018-02-13 09:06] holgern commented on #138
Why adding python 2 support? Support ends 2020.

[2018-02-13 12:00] holgern opened #151 "Is this repository still maintained?"
Just asking before investing my time even more and creating more pull requests.

[2018-02-14 06:01] holgern commented on #96
You can try my conda-forge version:
https://github.com/conda-forge/steem-feedstock
https://utopian.io/utopian-io/@holger80/install-steem-python-easily-by-conda-forge

[2018-02-14 06:01] holgern commented on #112
You can try my conda-forge version:
https://github.com/conda-forge/steem-feedstock
https://utopian.io/utopian-io/@holger80/install-steem-python-easily-by-conda-forge

[2018-02-14 06:02] holgern commented on #111
You can try my conda-forge version:
https://github.com/conda-forge/steem-feedstock
https://utopian.io/utopian-io/@holger80/install-steem-python-easily-by-conda-forge

[2018-02-14 06:03] holgern commented on #106
You can try my conda-forge version:
https://github.com/conda-forge/steem-feedstock
https://utopian.io/utopian-io/@holger80/install-steem-python-easily-by-conda-forge

[2018-02-16 09:42] PhilippWu opened #153 "Pycrypt Package witch iss needed ist deprecated"
The pycrypt package ist deprecated, please use pycryptdome insteat, to get things run on W10 x64 machines

[2018-02-16 09:59] holgern commented on #153
Try conda install steem :)
https://steemit.com/utopian-io/@holger80/install-steem-python-easily-by-conda-forge

[2018-02-16 16:25] cyon1c commented on #151
Although it was not actively maintained for a while, development is now actively ongoing.

[2018-02-16 16:25] #151 closed

[2018-02-16 16:30] cyon1c commented on #140
You are using Python 3.4.5 - try upgrading your environment to use 3.6.4. Development is currently in progress to bring compatibility across Python versions.

[2018-02-16 16:34] cyon1c opened #154 "Decide on Testing Targets for steem-python"
Current testing coverage sits at 30% for `steem` and 57% for `steembase`.

Sensible targets should be set for improved test coverage.

Doneness: Testing Targets in the form of some metric (coverage/number of tests, etc) set for library.

[2018-02-16 16:42] cyon1c commented on #150
Currently, an "archived" post is one which is older than 7 days, and can no longer be voted on. Are these posts you are trying to vote on within the 7 day range, or older?

[2018-02-16 17:48] kirkins commented on #150
No apparently the code I posted is the fixed version but it isn't on pip.

[2018-02-16 17:49] kirkins commented on #150
Closing as issue is open for that here https://github.com/steemit/steem-python/issues/27

[2018-02-16 17:49] #150 closed

[2018-02-18 21:12] SmokinCaterpillar opened #155 "Testing with `no_broadcast=True` does not work with a `Post`"
Hi, the `no_broadcast=True` option does not work with a [Post](http://steem.readthedocs.io/en/latest/tools.html#post).

This becomes immediately clear if we look into the constructors of `Steem` as well as `Post`.

In the `Steem` constructor the `no_broadcast` option is directly passed to the `Commit`:

    def __init__(self, nodes=None, no_broadcast=False, **kwargs):
        self.steemd = Steemd(

[2018-02-20 03:03] firemouse604 opened #156 "blockchain.stream_from nodes?"
im not having any luck with blockchain.stream  on any node...

Is there a list of nodes that support this functionality?

[2018-02-20 09:31] E-D-A commented on #156
Please specify what failed. A snippet of your code and the output showing the error would be helpful.
For sure it works. :smile: Tested recently against rpc.buildteam.io, api.steemit.com & rpc.steemviz.com.

[2018-02-20 09:40] E-D-A commented on #142
The first 'if-statement' will check if you manually provided an account. If not, then it will try to fetch the default configured account in your wallet. If that still returns nothing, then it will raise the exception.
I hope that explains it and I hope that is what you were asking. :smile:

[2018-02-20 15:19] cyon1c opened #157 "Unify Handling of Bytes Objects across Python 2.7 & 3.6"
A major source of inconsistency across the 2 platforms is how `bytes` is handled in 2.7 and 3.6. In 2.7, `bytes` is simply an alias for `str`. This causes several issues.

1. Many of the types defined in the library define the `__bytes__` function for serialization, etc, which will not be called in 2.7, as `bytes` calls down to `str`.

2. There are a fair number of instances of performing integer

[2018-02-20 18:37] hakancelik96 commented on #142
yes I understand but it could be better this way
[code]
never mind,I close this issue, thank you

[2018-02-20 18:38] #142 closed

[2018-02-20 19:11] firemouse604 commented on #156
it just sits there forever and doesn't do anything... like it's not finding any posts

custom_instance = Steemd(nodes='rpc.buildteam.io')
b = Blockchain(steemd_instance=custom_instance)

stream = b.stream()
for post in stream:
     if 'title' in post:
          title = post['title']
          print('title')

[2018-02-21 15:51] crokkon commented on #156
I think nodes should be a list, not a string. This works for me:

[code]

[2018-02-22 05:38] beeprime commented on #111
Fixed it today by issuing
apt-get install libssl-dev
apt-get install openssl

[2018-02-22 20:31] cyon1c opened #159 "Update Build Environment"
CircleCI should be updated to run the tests in the library against both Python 2.7 and 3.6.

[2018-02-23 14:01] kpekarov commented on #68
Same here.
I can't install steem on server (ubuntu 16.04) and on my dev PC (also 16.04).

Upgrading all just because of steem lib is not an option. Using docker also make development much more complex and slow.

[2018-02-24 08:04] sneak commented on #108
It is the responsibility, for now, of client code to handle such exceptions and restart streaming.

PRs to make steem-python work better and handle this sort of retrying internally would likely get merged if they are up to our code standards, which unfortunately aren't well-documented yet but are approximately "use pep8 and pyflakes".

[2018-02-24 08:04] #108 closed

[2018-02-27 02:13] damasta2k commented on #143
i still get the same error...was this issue resolve? I have syntax error when use steempy set nodes https://api.steemit.com

[2018-02-28 23:00] tomole444 opened #160 "Installing steem"
After trying to install steem with
 `sudo pip3.6 install steem`
I get this result:
Collecting steem
  Using cached steem-0.18.103.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-dcixdwct/steem/setup.py", line 8, in <module>
        import package_meta # this is a simple to

[2018-03-01 02:34] hakancelik96 commented on #143
read this https://steemit.com/steemit/@crokkon/steem-blockchain-access-with-python-setting-up-steem-python-with-docker

[2018-03-01 16:41] SchroSct commented on #57
yes, holy moley

[2018-03-01 19:23] cyon1c commented on #160
I just installed `steem` on a fresh ubuntu install and this issue is caused by not having `setuptools` installed. `pip3 install setuptools` should fix this.

[2018-03-01 19:23] #160 closed

[2018-03-02 03:42] clayop commented on #156
I failed with nodes list `['127.0.0.1:8090']`

[2018-03-02 12:03] clayop opened #162 "Cannot Customize Steem(nodes)"
When I add a my own node (e.g. `127.0.0.1:8090`) it gives the following error

[code]

[2018-03-02 19:22] cyon1c commented on #162
Could you please provide a full stack trace for the error?

[2018-03-03 09:42] hrosspet opened #163 "block_interval is None"
self.config().get("STEEMIT_BLOCK_INTERVAL") returns None.

https://github.com/steemit/steem-python/blob/f3db5e3d9bb6d98a8e2286c91b050813f3311dcc/steem/blockchain.py#L81

I guess the reason is because STEEMIT_BLOCK_INTERVAL got renamed to STEEM_BLOCK_INTERVAL

[2018-03-03 21:42] ibotforwin commented on #163
This may be a contributing factor in the error that I am experiencing as well:

The stream_comments() line sometime produces the error:
`
line 61, in refresh
    if not post["permlink"]:
TypeError: 'NoneType' object is not subscriptable
`

I have isolated the issue, and it occurs in this portion of my code:
`for p in s.stream_comments():`

Nesting the entire code in a while True loop still causes

[2018-03-04 01:12] clayop commented on #162
[code]

[2018-03-05 13:19] shawnpringle opened #164 "Compatibility with 19.4"
#### Expected behavior
Steem-python should be able to work with the new 19.4 hard fork before the hard fork happens so programs that rely on steem-python can be tested against it.

#### Actual behavior
steem-python attemps to use the 'database_api' and does not failover to a 'condenser_api' call, which could be handled in various little try/except blocks.

This is what happens when get_account_his

[2018-03-06 20:05] cyon1c opened #165 "Fix `construct_identifier` object to not use @"
Currently `construct_identifier` requires a `username_prefix` of '@'. This is strictly utilized internally in the library and should be removed. It only creates unnecessary complexity.

Doneness: Refactor all handling of post identifier to not rely on '@' pattern matching.

[2018-03-06 20:14] cyon1c commented on #159
<img width="954" alt="screen shot 2018-03-06 at 2 13 00 pm" src="https://user-images.githubusercontent.com/2797238/37055930-90b57b4a-2148-11e8-980f-34de14a5cc90.png">

Adding this here to continue this conversation in the relevant issue, rather than the PR.

@sneak
@john-g-g

[2018-03-06 20:18] #128 closed

[2018-03-06 20:18] #135 closed

[2018-03-06 20:19] #138 closed

[2018-03-06 20:20] #157 closed

[2018-03-06 20:24] cyon1c commented on #140
`steem-python` now supports Python 2.7 and Python 3.6. Closing this issue.

[2018-03-06 20:24] #140 closed

[2018-03-06 22:14] #145 closed

[2018-03-06 22:18] #16 closed

[2018-03-06 22:20] #27 closed

[2018-03-06 22:38] cyon1c commented on #22
A full audit of functions in `converter.py` needs to be done to assess veracity of methods.

[2018-03-06 22:43] cyon1c commented on #13
@sneak
@john-g-g

Is this issue still relevant?

[steem-python does not currently implement this.](https://github.com/steemit/steem-python/blob/1d7e7f3a62ec180a986f0d4504939e822bc194be/steem/transactionbuilder.py#L89)

[2018-03-07 17:15] #15 closed

[2018-03-07 17:17] #20 closed

[2018-03-07 17:20] cyon1c opened #167 "Audit & add tests to for conversion.py"
Issue #22 is inside the scope of this issue.

We need to do a full audit of and add tests to `converter.py`.

[2018-03-07 17:21] cyon1c commented on #11
Need to add tests to cover this case, and verify whether it is still happening.

[2018-03-07 17:53] #137 closed

[2018-03-07 18:33] cyon1c commented on #112
This is resolved in `master` on github, will be pushing a new release to pypi in due order.

[2018-03-07 18:33] #112 closed

[2018-03-07 18:34] cyon1c commented on #120
Duplicate of #121 .

[2018-03-07 18:34] #120 closed

[2018-03-07 19:19] cyon1c commented on #123
Closing this for now as it appears to be fixed. If you are still having issues @rosevill , please let us know.

[2018-03-07 19:19] #123 closed

[2018-03-07 19:20] cyon1c commented on #111
This is an environment issue, not an issue with the library. Closing.

[2018-03-07 19:20] #111 closed

[2018-03-07 19:24] #109 closed

[2018-03-07 19:25] #106 closed

[2018-03-07 19:29] #97 closed

[2018-03-07 19:39] cyon1c commented on #96
These issues should be resolved with commit [1d7e7f3](https://github.com/steemit/steem-python/commit/1d7e7f3a62ec180a986f0d4504939e822bc194be).

[2018-03-07 19:39] #96 closed

[2018-03-07 19:39] #103 closed

[2018-03-07 19:41] cyon1c commented on #92
[Setuptools is missing](https://stackoverflow.com/questions/14426491/python-3-importerror-no-module-named-setuptools).

[2018-03-07 19:41] #92 closed

[2018-03-07 19:44] cyon1c commented on #91
These issues should be resolved with commit [1d7e7f3](https://github.com/steemit/steem-python/commit/1d7e7f3a62ec180a986f0d4504939e822bc194be).

[2018-03-07 19:44] #91 closed

[2018-03-07 19:49] cyon1c commented on #98
@themarkymark-steem Closing for the time being. If this is still an issue please let add as detailed as a description as you can covering the error and we'll investigate further.

[2018-03-07 19:49] #98 closed

[2018-03-07 19:52] cyon1c commented on #68
This issue is fixed at commit [1d7e7f3](https://github.com/steemit/steem-python/commit/1d7e7f3a62ec180a986f0d4504939e822bc194be). A new version will be uploaded to PyPi in short order.

[2018-03-07 19:52] #68 closed

[2018-03-07 19:53] #90 closed

[2018-03-07 19:56] cyon1c commented on #65
Closing. If this is still an issue, please comment and add a code sample that causes this failure.

[2018-03-07 19:56] #65 closed

[2018-03-07 19:59] cyon1c commented on #62
Our devportal still links to the RTD site. We need this switched.

[2018-03-07 20:03] #54 closed

[2018-03-07 20:08] cyon1c commented on #52
Please leave a comment here if you are still having issues. Closing.

[2018-03-07 20:08] #52 closed

[2018-03-07 20:10] #50 closed

[2018-03-07 20:11] #30 closed

[2018-03-07 20:13] #23 closed

[2018-03-07 20:13] #28 closed

[2018-03-07 22:37] Suor commented on #50
I probably should state explicitly that funcy has no backwards incompatible changes since 1.0 for anyone reading this in the future.

[2018-03-08 16:46] cyon1c commented on #50
@Suor thanks for dropping by with the update.

[2018-03-12 15:37] cyon1c commented on #154
@sneak - any input would be great.
@roadscape - what is your testing philosophy/strategy for `hivemind` currently?
@john-g-g - Same question for you, but for `sbds`

[2018-03-12 18:45] roadscape commented on #154
It seems core functions are split between `steem` and `steembase`, unfortunately. @cyon1c do you have stats on coverage per file? If we want to use % coverage it won't make much sense unless we cherry-pick the critical files.

steem-js has a good testing model: https://github.com/steemit/steem-js/tree/master/test

[code]

[2018-03-12 19:54] cyon1c opened #169 "Tests Fail in Python 3.4"
https://circleci.com/gh/steemit/steem-python/109
vs
https://circleci.com/gh/steemit/steem-python/106

You can see that both branches of this `if/else` fail with the same AttributeError.

[2018-03-12 19:56] cyon1c opened #170 "Tests Fail in Python 3.3"
There appear to be syntax issues in dependencies as seen here:

https://circleci.com/gh/steemit/steem-python/108

[2018-03-12 22:18] cyon1c commented on #154
@roadscape output from the `pytest-cov` plugin.

<img width="943" alt="screen shot 2018-03-12 at 5 17 07 pm" src="https://user-images.githubusercontent.com/2797238/37312506-4ba92b34-2619-11e8-8819-ec35358a71d8.png">

[2018-03-14 14:57] tomole444 commented on #160
I tried but the answer was:
`sudo pip3 install setuptools
Requirement already satisfied: setuptools in /root/.local/lib/python3.5/site-packages
`

[2018-03-14 14:59] cyon1c commented on #160
@tomole444 easiest thing to do right now is pull from `master` here on github and install locally. We've had significant updates to the library in the past two weeks that haven't made it up to PyPi yet. Refer to the Readme on the steps to clone and install the library.

[2018-03-14 15:06] cyon1c commented on #154
@john-g-g & @sneak

If this approach of feature based coverage sounds solid, then I'm going to close this issue and put issue #167 into the proposed backlog for next sprint.

[2018-03-14 15:07] tomole444 commented on #160
When I try "sudo python install setup.py" I get this error:
`python install setup.py
python: can't open file 'install': [Errno 2] No such file or directory
`

[2018-03-14 15:08] tomole444 commented on #160
OK I think I solved it

[2018-03-17 01:44] puzzledbytheweb opened #175 "Crypto.Util.py3compat cannot import name 'byte_string'"
I have this simple code:

[code]
Error appears here
[code]

Any idea on how to solve this issue?

Thanks!!

[2018-03-17 15:59] rossbulat opened #176 "steempy importaccount - global name 'future_bytes' is not defined"
I am having issues importing my account, on both Ubuntu and macOS 10.13.3 using virtualenv.

Python version: 2.7

After the key phrase and wallet password prompt, I am met with this traceback:

Traceback (most recent call last):
  File "/steemit/bin/steempy", line 11, in <module>
    load_entry_point('steem==0.18.3', 'console_scripts', 'steempy')()
  File "build/bdist.linux-x86_64/egg/steem/cli.py

[2018-03-17 16:04] bobinson commented on #176
Is it possible for you to setup Python 3.6 ?

[2018-03-17 16:06] rossbulat commented on #176
@bobinson I am met with all sorts of errors installing modules using python3.6

[2018-03-17 16:25] bobinson commented on #176
@rossbulat  - here is steps to install it on linux. With brew install it should be possible to install on Mac as well.

https://steemit.com/howto/@fortunex/installing-python-3-6-on-ubuntu-16-04

[2018-03-17 16:33] rossbulat commented on #176
Thank you @bobinson, I will give this guide a shot.

[2018-03-17 16:34] rossbulat commented on #176
Thank you @bobinson. My issues were with installing the modules, not with installing python itself. I will go ahead and see if following these steps fix the errors I was facing.

[2018-03-18 08:42] bobinson commented on #176
@rossbulat  - its a known issue. The link I shared has the fix i the comments.

**how to fix ?**

edit /usr/local/lib/python3.6/dist-packages/steem-0.18.103.dist-info/METADATA and change

*toml (==0.9.3.1)*

to

*toml (==0.9.3)*

[2018-03-18 11:33] bobinson commented on #175
I think you managed to fix by re-installing ?

[2018-03-18 16:05] puzzledbytheweb commented on #175
Hey! Ok, I will try. The installation so far as been a pain (in windows 7) with problems with pycrypto and python version (I'm using 3.6). This afternoon I will reinstall and hopefully everything will go as planned!

[2018-03-18 20:48] causenet commented on #176
I met the same error: NameError: global name 'future_bytes' is not defined

just change future_bytes to bytes and run setup.py again, will fix the problem.

[2018-03-19 12:50] maxpatternman opened #177 "README.md. Little mistake."
Pls change "python install setup.py" to "python setup.py install" in  README.md on line 12
Thanks

[2018-03-19 17:08] firemouse604 opened #178 "cannot run steempy"
When I try to run steempy from CLI this is what I get:

[code]

[2018-03-19 17:14] bobinson commented on #178
Its an error with the toml version & the fix is discussed in #176

[2018-03-19 18:49] cyon1c commented on #178
Duplicate of #176.

[2018-03-19 18:49] #178 closed

[2018-03-19 19:25] cyon1c commented on #176
@causenet Unfortunately no, that will not fix your issue. It will allow you to potentially run `steem-python`, but much of the underlying codebase utilizes the `future_bytes` utility to ensure `bytes` objects function the same in 2.7 as they do in 3.6.

That said, this appears to be a bug I missed due to relying to heavily on unit tests to ensure doneness. I will bring this into the next sprint an

[2018-03-19 19:31] cyon1c commented on #175
@puzzledbytheweb apologies for the problems installing the library.

I would highly recommend trying to install with [`pipenv`](https://docs.pipenv.org/) . I can't speak to it's ease of setup on Windows, but it should give you a deterministic environment to install and run Python code.

[2018-03-19 19:31] #175 closed

[2018-03-19 19:33] cyon1c commented on #154
@sneak @john-g-g Would love your input before I close this issue out for the sprint.

[2018-03-19 20:22] sneak commented on #154
I am fine with feature-based coverage for now.

[2018-03-19 22:22] firemouse604 commented on #156
this is still an issue.

[2018-03-19 22:23] devopsjourney1 opened #180 "default nodes not working"
default nodes in steempy are not working and when you try to stream with custom nodes it's not working.

here is my list:
[code]

[2018-03-20 16:11] cyon1c commented on #156
Will look into this issue this week.

[2018-03-20 18:16] #154 closed

[2018-03-20 19:03] cyon1c commented on #180
Could you provide a stack trace @firemouse604 ? Is it similar/duplicate of #162 ?

[2018-03-20 21:12] kirkins commented on #27
Was this fixed, I tried to update package via pip but still seeing the error.

[2018-03-20 21:26] kirkins commented on #27
Ok, just installed based on the README instead and it is working

[2018-03-20 22:31] cyon1c opened #181 "TypeError when importing accounts in steempy Python 2.7"
In Python 2.7, the `steempy` cli will crash when calling importaccount with the below stack trace.

[code]

This appears to happen due to the handling of the user prompted input and the way it is being sanitized.

[2018-03-21 13:46] outlier89 opened #183 "Length of Private Memo is restricted to 35 characters"
When "#" is placed before a message in the memo to make it private, it only takes 35 characters of the message after the # and the rest is ignored. Please rectify this issue as soon as possible.

[2018-03-21 15:03] maxpatternman commented on #183
I can confirm this for use with steempy.

[2018-03-21 15:04] cyon1c commented on #183
This will go into our backlog and be addressed next sprint. Thanks for raising this issue!

[2018-03-21 15:14] #176 closed

[2018-03-21 15:14] #177 closed

[2018-03-22 20:00] cyon1c opened #186 "OperationalError Intermittent during CircleCI builds."
[1](https://circleci.com/gh/steemit/steem-python/173),[2](https://circleci.com/gh/steemit/steem-python/164),[3](https://circleci.com/gh/steemit/steem-python/159),[4](https://circleci.com/gh/steemit/steem-python/157),[5](https://circleci.com/gh/steemit/steem-python/145),[6](https://circleci.com/gh/steemit/steem-python/143),[7](https://circleci.com/gh/steemit/steem-python/118)

These appear to be in

[2018-03-24 16:23] Boontjie opened #187 "RPC Error on operations using Steem Python"
I am getting 'Bad Cast : Invalid cast from string_type to Array' when performing a Transfer operation

[2018-03-24 17:44] cryptohustlin commented on #187
same issue.

I think it has to do with removing the @ from the code?

[2018-03-24 20:47] Boontjie commented on #187
It is unlikely to be the @, I was running old code before the removal.  Steemit has changed the API on their side.  Some stuff broke today

[2018-03-24 23:38] camponez opened #188 "Claiming Reward Balance gives MissingKeyError"
I was trying to use the claim_reward_balance(). It worked for sometime, but two days ago it stops working.

The code:

[code]
[code]

[2018-03-25 00:32] camponez commented on #187
Could be somewhat related to #188

[2018-03-25 06:28] Boontjie commented on #188
I am not getting a missing key error, but also Bad Cast on claiming reward balance, see #187 .  I think new changes affect all 'call' operations where parameters are passed.  I am not sure how to restructure them to work at this point in time

[2018-03-25 07:13] E-D-A commented on #187
As far as I can see this is only relevant for api.steemit.com. Other nodes are responding as expected.

[2018-03-25 07:58] Boontjie commented on #187
Thanks, it means steemit inc screwed up their node

[2018-03-25 08:20] #187 closed

[2018-03-25 08:21] Boontjie commented on #188
See my issue, try not using api.steemit node

[2018-03-25 19:28] camponez commented on #188
I can't even get the error anymore. ``stempy config`` just hangs there as does ``c =  Commit(steem=Steem(keys=[POST_KEY, ACTIVE_KEY]))``.

Where do I clear the ``steempy`` configuration?

[2018-03-25 22:54] CStiller opened #189 "Unexpected behavior in Steem() function with custom nodes"
Error description:
When calling Steem(nodes=["https://api.example","https://api.steemit.com"]) and the first node ("https://api.example") is not reachable or delivers invalid data the application crashes with an unhandled exception.

Expected behavior: Steem() uses the second node as fallback with logging info.

example error log(42,9 kB):
[error.txt](https://github.com/steemit/steem-python/files/

[2018-03-26 10:50] CharacterCN opened #190 "Commit calling into TransactionBuilder Python 2.7 str/unicode incompatibility"
I can post content smoothly with python3.6, but when I change to post it with python2.7.14, I get a Error that is "Invalid TransactionBuilder Format".
I will simplify the problem into the following code:
<pre>from stee import Steem
s = Steem(...)
s.post(title='test', body='test', author='myname', tags=('steemtest',), permlink='ywqamoc1')</pre>

here is Error content:
<pre>Traceback (most recent ca

[2018-03-26 12:19] maxpatternman opened #191 "Cast Error when trying to perform a transfer."
Hi, I got an error while trying to transfer SBD or STEEM.
The error occurs directly in Python and with Steempy.

I'm using Python 3.4.6

---
steempy transfer maxpatternman 0.001 SBD

and

s.commit.transfer('maxpatternman', 0.001, 'SBD')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/site-packages/steem-0.18.3-py3.6.egg/steem/commit.py", li

[2018-03-26 12:44] SmokinCaterpillar commented on #191
I have the very same issue, it started from one day to the next without changing my code.

[2018-03-26 15:28] SmokinCaterpillar commented on #191
Well, to be precises, claiming of rewards doesn't work either, but this is kind of a transfer, too, I guess.

[2018-03-26 16:20] cyon1c commented on #188
This is due to our switch to appbase on `api.steemit.com`, and those changes not being included in `steem-python`. I will be working to get this resolved today.

[2018-03-26 16:22] bobinson commented on #188
@cyon1c  - thats some exciting news!

[2018-03-26 20:46] themarkymark-steem commented on #191
Try using a node that isn't api.steemit.com

[2018-03-26 23:31] maxpatternman commented on #191
Thank you @themarkymark-steem . Another node solved the problem.
So the problem is due to the change from api.steemit.com.
@cyon1c Should I close the ticket?

[2018-03-26 23:33] themarkymark-steem commented on #191
Yes it is.   Api is running AppBase.  Good to know right?

I reocommend using ‘steempy set nodes node1,node2,node3’

Instead of setting it in scripts.   Allows you to globally **correct** these issues

[2018-03-27 04:05] AmoghSubhedar commented on #180
If you are trying to stream from blockchain, you have to set a reference to the new nodes.
s = Steem(nodes=['rpc.steemviz.com'])
b = Blockchain(s)
Now, your script will use the new nodes to stream the blockchain. If you don't put a steem object as an argument, then the default nodes will be used.

[2018-03-27 09:29] SmokinCaterpillar commented on #191
Finally using `https://rpc.buildteam.io` as a node, it worked, thanks :-)

[2018-03-27 17:17] maxpatternman commented on #191
@themarkymark-steem All right. I have now included it in my initial script.
Thanks for the advice.

[2018-03-27 17:33] Jolly-Pirate opened #193 "witnessupdate causes "Bad Cast:Invalid cast from string_type to Array" error"
Trying to run this command:
` steempy witnessupdate --witness witnessname --signing_key STM.....`
Tried other non-steemit nodes to no avail, e.g.
` steempy --node https://rpc.buildteam.io witnessupdate --witness witnessname --signing_key STM.....`

Gives this error:

  File "/usr/local/bin/steempy", line 9, in <module>
    load_entry_point('steem==1.0.0', 'console_scripts', 'steempy')()
  File "/u

[2018-03-27 17:54] bobinson commented on #193
error seems to same as #191

[2018-03-27 20:29] camponez commented on #188
I get this error on different using other api...

[2018-03-27 21:33] Gandalf-the-Grey opened #196 "steempy backup nodes doesn't work (and you will never know until you need it)"
setting up custom node works fine:
`steempy set nodes https://gtg.steem.house:8090/`
setting up such node as backup/fallback node works fine:
`set nodes https://api.steemit.com,https://gtg.steem.house:8090/`
but it does not if it can't connect to first node from the list
`set nodes https://localhost:8080,https://api.steemit.com,https://gtg.steem.house:8090/`
where port `8080` at `localhost` is clo

[2018-03-27 21:45] Gandalf-the-Grey commented on #196
Too narrow errorList?
https://github.com/steemit/steem-python/blob/9628744f838cdf85ee797db194e6fcc51921c310/steembase/http_client.py#L194-L199

[2018-03-27 21:48] roadscape commented on #196
node handling in this lib needs a lot of work. very unpredictable.

[2018-03-27 23:15] cyon1c commented on #190
The error raised masks the actual issue, which is unicode vs str handling in 2.7.

The actual error is `descriptor 'title' requires a 'str' object but received a 'unicode'`.

This appears to be a Python 2 bug only.

[2018-03-28 19:48] roadscape commented on #188
@camponez try using this code as reference:
https://github.com/steemit/steem-python/pull/195/files#diff-94ce5c94e607bee610742036bb262f0eR23

[2018-03-31 06:57] outlier89 opened #197 "account.py generator functions (get_account_history, history, history_reverse) cannot retrieve blockchain transactions older than 30 days"
While retrieving transactions of a particular account, any generator function only fetches last 30 days transactions along with the transaction of the account creation (index 0 transactions). There is no way to access any transaction older than 30 days. Please rectify this issue as soon as possible.

[2018-03-31 09:14] syedmustafa54 opened #198 "Hello I am Getting error: Setup script exited with error:"
Here is the Error I am Getting on windows 7 I hate visual studio I don't want to install in what is the other way to install it
here is my error
[code]

[2018-04-01 10:18] chhantyal commented on #198
Looks liek you need C++ build tools, not visual studio.

[2018-04-01 11:31] syedmustafa54 commented on #198
Any Links to download it
On Apr 1, 2018 3:48 PM, "Nar Kumar Chhantyal" <notifications@github.com>
wrote:

[2018-04-02 16:45] cyon1c commented on #198
As this is an environment specific build error, and not an issue with the library itself, this comment will be closed. There is a link in your error log for where to download it.

[2018-04-02 16:45] #198 closed

[2018-04-02 16:46] cyon1c commented on #197
This is due to the switch to AppBase on `api.steemit.com`. We will be working to restore account history functionality on that node soon. If this functionality is critical, I would recommend switching to another node for the time being.

[2018-04-02 16:46] #197 closed

[2018-04-02 17:07] cyon1c opened #200 "Update dev-requirements.txt"
Fix dev-requirements.txt to be up to date.

[2018-04-02 17:08] cyon1c opened #201 "Add dev and staging to CircleCI Builds"
add support to run tests against dev and staging.

[2018-04-02 18:59] sneak commented on #201
@goldibex didn't we decide that tests should not touch network?  or is this a separate set of tests from the standard that we intend just to do on circleci?

[2018-04-02 18:59] sneak commented on #201
(i think that testing client/server api compat is a valuable signal, fwiw)

[2018-04-03 03:14] sneak commented on #13
Yes, it is likely still relevant.  If the change is introducing problems then it's likely a bug in the change, not the concept.

Each tx needs to refer to the block hash of a recent block.  A block from a few blocks ago should be used, instead of the absolute tip of the chain, in the event of a microfork that invalidates the tip block which then renders the transactions that referenced it invalid.

[2018-04-03 04:06] bitfag commented on #13
@sneak I think reasonable default is use last_irreversible_block as a reference. This will prevent transactions loosing at chain forks.

[2018-04-03 08:51] outlier89 commented on #197
Thanks a lot for the quick reply.

[2018-04-03 12:52] hrosspet opened #204 "Post.export() invalid for storing in mongo db"
`Post.export()` returns tags in a set. Sets can't be stored in mongo db and need to be converted to lists (which is how they were stored in the past). According to the docs this is what export should be doing... `Strip Python specific data-types and return a dictionary that can be safely stored as JSON or database entry.`

[2018-04-03 16:45] cyon1c opened #205 "Fold PR's #81 & #95 into AppBase"
AppBase support has uncovered several issues in the http client's stability. Folding these two pr's (#81 and #95) into AppBase support will greatly increase stability, and should be done as part of the AppBase refactor.

[2018-04-03 17:43] firemouse604 commented on #188
I can't get s.claim_reward_balance(account=wif)  to work with any node.  This functionality stopped working for me a few weeks ago

[2018-04-03 19:15] cyon1c commented on #188
Do you have a list of nodes you've tried against? @firemouse604

[2018-04-03 20:40] cyon1c commented on #204
What version of Python and steem are you using?

[2018-04-03 20:41] cyon1c opened #206 "Create Bug Reporting Template"
Create template that includes version of Python, steem library, environment, reproduction steps, etc.

[2018-04-03 21:33] hrosspet commented on #204
I am little bit confused now. Pip says I have version 1.0.0, but when I import steem and try `steem.__version__` I get `'0.18.103'`

[2018-04-03 21:54] roadscape commented on #205
#202 encompasses both improvements

[2018-04-03 21:54] #205 closed

[2018-04-04 16:06] cyon1c opened #207 "Enhance exceptions.py"
`steembase/exceptions.py` has the foundations of a meaningful error routing architecture for RPC Errors. We should build this out further and then leverage it inside `http_client.py` to create a more comprehensible error handling flow.

[2018-04-05 16:37] #164 closed

[2018-04-05 16:39] cyon1c commented on #190
This should be resolved with #203 .

[2018-04-05 16:39] #190 closed

[2018-04-06 16:01] puzzledbytheweb opened #209 "http_client.py - steembase.exceptions.RPCError: Internal Error"
Hello!

I am having this error:
`File "/usr/lib/python3.6/site-packages/steembase/http_client.py", line 263, in _return
    raise RPCError(error_message)
steembase.exceptions.RPCError: Internal Error`

It happens when creating an alias such as `s = Steem()`. I am a noob in programming and I am trying to do a project to help me learn faster and in a more meaningful way, I believe this problem has s

[2018-04-06 19:29] cyon1c commented on #209
@puzzledbytheweb Thank you for reaching out and filing an issue. Currently `steem-python` is undergoing a significant face lift alongside the release of HF 19.4 & AppBase. these issues are actively being worked on, that said, we will be releasing some big updates to PyPi soon, until then you can pull from master and install locally if you want to use these updates before they get to PyPi.

[2018-04-06 19:29] #209 closed

[2018-04-10 20:17] camponez commented on #188
Weird... I'm still seeing this problem but just with one of my accounts...

[2018-04-12 19:45] camponez commented on #188
On the account that it's working I get the error: `ERROR:root:Downgrade-retry steemd.minnowsupportproject.org`

[2018-04-16 17:51] roadscape opened #212 "bypass verify_authority, not working on api.steemit.com"
steem-python relies on this call for every tx broadcast. The current api.steemit.com steemd build has a bug https://github.com/steemit/steem/issues/2284 which renders `verify_authority` (and thus, any steem-python broadcasting) unusable.

Suggest a workaround which ignores `verify_authority` result when it's an error with signature matching the bug's. It's unclear why exactly `verify_authority` is

[2018-04-16 19:10] #212 closed

[2018-04-16 23:59] #165 closed

[2018-04-17 00:07] cyon1c opened #215 "Remove SQL Config"
The SQL config causes more trouble than it's worth and several irritating bugs persist due to it's existence.

Refactoring this out should resolve:

- [ ] #186
- [ ] #180
- [ ] #162

There are several others that I'll add.

[2018-04-17 00:13] sneak commented on #215
What do you want to use instead, a json file?  I think sqlite is appropriate for this use case, tbh.

[2018-04-17 13:34] roadscape commented on #162
Hey @clayop could you try again using latest master?

[2018-04-17 15:52] cyon1c opened #216 "SQL Config Discussion"
Discuss changes for SQL Config to generate spec for #215 .

[2018-04-17 18:36] roadscape commented on #188
Is anyone able to confirm this issue is resolved on `master` branch?

[2018-04-17 19:07] firemouse604 commented on #188
Yes, just updated and it seems to be resolved now. Thank you.

[2018-04-17 19:11] roadscape commented on #188
@camponez if it only affects 1 account it's probably due to a WIF/config issue.

I believe the other concerns in this issue should be resolved now, please leave a comment if this is not the case.

[2018-04-17 19:11] #188 closed

[2018-04-17 19:13] roadscape commented on #181
@cyon1c was this addressed? IIRC there was another utf fix since this issue was created.

[2018-04-17 19:14] roadscape commented on #191
These issues have been resolved, please try again using latest `master`.

[2018-04-17 19:14] #191 closed

[2018-04-17 19:15] roadscape commented on #193
There were 2 bugs here; one is resolved, the other is an api issue which will be fixed soon.

[2018-04-17 19:15] #193 closed

[2018-04-17 19:18] roadscape commented on #55
Error retries have been revamped recently and I see `ReadTimeoutError` explicitly listed as recoverable, so I believe this issue is resolved.

[2018-04-17 19:18] #55 closed

[2018-04-17 19:56] cyon1c commented on #216
References to `configStorage` in the codebase:
[code]

[2018-04-17 20:09] roadscape commented on #216
Does it store just 1 account/creds or does it have multi account support?

[2018-04-17 20:10] cyon1c commented on #216
Multi-account.

[2018-04-17 20:15] roadscape opened #218 "account_create_with_delegation / max_block_age issue"
Unclear if this might be an appbase issue, but since the @steem faucet is using the same op/endpoint it doesn't seem likely. Let's add a test for the `account_create_with_delegation` op and see if we can reproduce.

Error:

[code]

(^ possibly due to verify_authority workaround)

[2018-04-17 21:56] camponez commented on #188
@roadscape Yes. Same problem. It only works for one account, not work for two others....

I'm able to call `check_reward()`. Only `claim()`, does not work. I can also vote with those accounts. Only `claim()` has the problem. Very weird to be for 1 of 3 accounts only.

[2018-04-17 22:00] cyon1c commented on #216
I propose we leave the account and defaults functionality in place, however remove any references to nodes from the storage and simply offer a default of `https://api.steemit.com` if none are specified by the user. And properly handle taking a list or single node.

- for reference, internally we hardly use the defaults:

In a `grep` of `steem/`, the only defaults (besides accounts) referenced are:

[2018-04-18 19:41] cyon1c commented on #196
I can't repro either. Appears to be working as expected. Going to close unless @Gandalf-the-Grey you still see this happening.

[2018-04-18 19:41] roadscape commented on #196
I have not been able to reproduce this issue. Observations:

1. Why does the cli make a steem request before it will allow you to apply any setting updates??
2. If I'm reading the recursive stack trace correctly, `ConnectionRefusedError` was handled fine, and the final error was from steemd: `Could not find API` -- a valid response which should not be retried.

At this point it would be great if y

[2018-04-18 20:10] roadscape commented on #216
Some thoughts, from the perspective that steem-python (particularly core) functions need to be seriously simplified and made more reliable if a wallet is ever going to be built on it:

1. Too much sugar, we need a solid and stable library; keys like `"categories_sorting": "trending",` and `"default_vote_weight": 100.0,` seem extraneous.
2. File-based config must be optional; one should be able to

[2018-04-18 23:33] cyon1c commented on #216
1 - Are you thinking that all of the config defaults should be pulled as too much sugar, or just those keys in particular?
2 - I like the thought of approaching configs through command line arguments and env vars in a `.conf` like file.
3 - This seems a reasonable enough approach short term. In the long term, would we want nodes to be specified through the same approach as the config values?
4 - A

[2018-04-19 20:10] roadscape commented on #206
Done in https://github.com/steemit/steem-python/pull/217

[2018-04-19 20:10] #206 closed

[2018-04-19 20:42] roadscape commented on #188
@camponez you might be using an old version. We need to update the pypi repo still. I recommend checking your script against `master` on this repository.

[2018-04-19 22:58] camponez commented on #188
@roadscape I thought that I was running master. I'm doing `sudo python setup.py install` in the master branch.
[code]

is there another way to check which version I'm running?

[2018-04-20 16:38] cyon1c commented on #188
Hey @camponez, I want to trouble shoot a couple things  did you use git to clone the repo? If so, can you run `git pull origin master` and then `git log` to check that you have all the newest changes by comparing the last commit hash with the tip of master on github.

I noticed your command is `sudo python setup.py install`, which means you've installed `steem-python` as a Python 2 library. In you

[2018-04-20 17:03] roadscape opened #219 "new pypi release"
Let's update the package asap.

[2018-04-20 20:33] camponez commented on #188
@cyon1c
- I'm pretty sure I'm on master (a2a5e58ad67f75829add)
- My python is 3.6
[code]
Also
[code]

However, when I run on `ipython`:
[code]

[2018-04-21 11:38] camponez commented on #188
I found the error!

It's strange because it had worked before. Problem was on my code. I needed to pass `account`to `c.claim_reward_balance()`

Look good now! :)

[2018-04-22 18:28] jtbitz commented on #143
I have the appropriate output when I run $ `steempy info`, i have tried `steempy set nodes https://api.steemit.com`, and I still get

![image](https://user-images.githubusercontent.com/38632577/39098465-61efb602-4639-11e8-8ec8-e88679d72705.png)

Thoughts?

[2018-04-23 11:40] jnordberg commented on #196
Not seeing any PR for this to review

[2018-04-23 11:54] roadscape commented on #196
@jnordberg no PR yet (may not be necessary), we’ve asked OP to reproduce the behavior since much of this code has been updated lately

[2018-04-23 16:29] Gandalf-the-Grey commented on #196
Unfortunately I can still run into such troubles. However I guess that now I need to search for more tricky cases.
All depends on exact issue with connection, sometimes is easily handled like trivial connection refused (tcp reject):
[code]
(...) up to the limit of retries
or even in case of a node that returns some unexpected "garbage"
[code]
but that can be more tricky with variety of different t

[2018-04-23 17:21] cyon1c opened #220 "Create Node class to lay groundwork for better node handling."
Nodes should hold a little more information outside of uri - ie, status, prefix, version, etc. (Dynamic Global Properties + some extra stuff). This will allow us to start building a more intelligent node handling framework within `steem-python`.

This is part of the attempt to remove the SQL Config from `steem-python`. Reference issue #216 .

[2018-04-23 17:27] cyon1c opened #221 "Configuration Variables moved out of SQL Config and into .conf file"
Configuration values that are currently stored in `storage.py`. Similar to [hivemind's conf strategy](https://github.com/steemit/hivemind/blob/master/hive/conf.py), we should move these into a combination of command line args and environment variables.

Reference - #216 .

[2018-04-23 17:28] cyon1c commented on #216
#220 and #221 are issues created in response to this issue. I think they are sufficient based on discussion from this issue to close it.

[2018-04-23 17:31] bobinson commented on #220
When you say "more intelligent node handling" does that also means handling scenario which are down / unrechable ?

[2018-04-23 17:34] cyon1c opened #222 "Refactor wallet database passphrase "masterpassword" variable"
In `wallet.py` and `storage.py`, the variable used to encrypt to the wallet file on disk is called `masterPassword` which is highly confusing. This needs to be refactored.

[2018-04-23 23:01] sneak commented on #222
propose KEP (key encryption passphrase) (KEK, for Key Encryption Key, is in common usage)

[2018-04-25 06:05] idikuci commented on #156
Hey, Is this still an outstanding error? I get it too.

[2018-04-26 02:31] chenlocus opened #223 "steempy changewalletpassphrase is not working"
### Version of Python you are running ###

python 3.5

### Version of steem-python you are running ###
Latest version.

#### Expected behavior
After successfully installing steem-python in ubuntu 16.04 LTS, I tried to use the following command to initiate a password for CL1 wallet:

[code]
Then it jumped out a prompt:
[code]

I expected it to prompt me to enter password and confirm, then save it.

[2018-04-26 03:57] #223 closed

[2018-04-26 05:49] chenlocus commented on #191
This is happening again, when I transfer to account using:
steempy transfer --account A  B  1 STEEM memo
It complains: Bad Cast:Invalid cast from string_type to Array.

There is another issue here,  if I don't specify '--account A', it will ask me to specify, however, the from account should be optional according to the help.

[2018-04-26 07:45] AmoghSubhedar opened #224 "TypeError while creating Steem object"
When I am creating a Steem object, I get this error:
[code]
I've been using the same statement for creating Steem objects before and it used to work fine. This has only been a recent problem.

[2018-04-26 16:02] #216 closed

[2018-04-26 16:42] cyon1c commented on #196
@Gandalf-the-Grey Are you using the most recent version from `master`? Or the version from PyPi? Using master, the line numbers for your tracebacks don't match up to my codebase, and it seems to be working.

[2018-04-27 04:59] jeffignacio commented on #181
I'm running into the same issue.

[2018-04-28 03:00] sneak opened #226 "add serialization for `change_recovery_account_operation` to steembase"
As a python developer user of steem-python, I wish to construct and sign a transaction that updates an account's recovery account.

This is possible with steem-js but not steem-python.

[2018-04-29 15:17] n-exploit opened #227 "Unable to Install Steem for Python (VS 2015/2017)"
I am unable to install the Steem module for Python. I first attempted to install VS Community 2017 and the latest Build Tools and subsequently, VS Community 2015 and 2015 Build Tools. Each version and combination result in the same error.

I've also tried running the _python ip install -U steem_ command from the VS command line as well.

### Version of Python you are running ###
3.6.5

### Version

[2018-04-29 16:48] crokkon opened #228 "utils.is_comment() should not rely on "re-" in permlink, giving wrong Blog().take() results"
### Version of Python you are running
[code]

### Version of steem-python you are running
[code]

### Expected Behavior

`steem.blog.take()` should return top-level posts for `Blog(comments_only=False)` and comments for `Blog(comments_only=True)`. The distinction between post and comment internally uses `steem.utils.is_comment()`. This should returns `False` for root posts, `True` or others for co

[2018-04-29 21:00] holgern commented on #227
PyCrypto is broken and it is not possible to compile it on windows without patching it first. Patches can be found in the conda feedstock for example.

[2018-04-29 21:01] holgern commented on #227
Try conda install steem

[2018-04-30 14:14] n-exploit commented on #227
(base) C:\Users\A>conda install steem
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - steem

Current channels:

  - https://repo.continuum.io/pkgs/main/win-64
  - https://repo.continuum.io/pkgs/main/noarch
  - https://repo.continuum.io/pkgs/free/win-64
  - https://repo.continuum.io/pkgs/free/noarch
  - https://repo.continuum.

[2018-04-30 14:43] holgern commented on #227
Sorry, my tip was not complete:
conda config --add channels conda-forge
conda install steem

[2018-04-30 15:53] roadscape commented on #228
Thanks for the report, we'd be happy to accept a PR for this fix!

[2018-04-30 16:08] n-exploit commented on #227
Thank you, this solved it!

[2018-04-30 17:13] cyon1c commented on #227
@roadscape - Seems we need a spike or quick discussion how/if we're going to handle supporting Windows machines. I'm not sure if I want to be running tests against multiple environments as we already have 5 test suites to run, this would start driving our testing complexity way up, but it may be desirable if we want to have first class support for windows.

[2018-04-30 18:43] roadscape commented on #227
@cyon1c - not sure we need tests for Windows but thinking we might want to include these tips in the README.

[2018-04-30 20:34] roadscape commented on #196
Between https://github.com/steemit/steem-python/pull/225 and https://github.com/steemit/steem-python/pull/229 we can call this resolved. Should it happen again we'll get more useful information.

[2018-04-30 20:34] #196 closed

[2018-05-01 15:09] holgern commented on #227
I'm the maintainer of https://github.com/conda-forge/steem-feedstock.
@roadscape - You can find a detailed installation guide in the readme file.
Feel free to copy the badges.

[2018-05-02 01:11] mtastafford commented on #224
It looks like this just started happening for me as well -- not sure what the issue is. Occurs when calling any steempy commands (eg. "steempy listaccounts") as well.

[2018-05-02 19:39] cyon1c commented on #224
@AmoghSubhedar @mtastafford could you provide a full bug report, including:

1. Version of Python you are running
2. Version of steem-python you are running
3. Expected Behavior
4. Actual Behavior
5. Steps to reproduce
6. Stack Trace

`steem-python` is currently undergoing a significant face-lift, we'll address these issues asap.

[2018-05-02 20:05] cyon1c opened #231 "Prune Stale Branches"
Lots of old stale branches. Need to go through and clean up repo.

Doneness: Only branches left should be `master`, any open PR's, and any branches with up to date WIP.

[2018-05-02 21:53] cyon1c commented on #181
@jeffignacio is it possible for you to use Python 3.6? This issue only exists in Python 2.7.

[2018-05-03 21:09] #222 closed

[2018-05-04 15:43] cyon1c commented on #189
@CStiller This should be resolved on master, let us know if you are still having any issues.

[2018-05-04 15:43] #189 closed

[2018-05-04 16:36] AmoghSubhedar commented on #224
1. Python 3.5.2
2. Not sure, but I remember updating it last week, when I first encountered this issue.
3. Should just create a Steem object and no error should be thrown
4. Throws a TypeError
5. s = Steem()
Traceback:
`    s = Steem(nodes=nds,no_broadcast=False, keys=['5Ui'])
  File "/home/ubuntu/.local/lib/python3.5/site-packages/steem/steem.py", line 60, in __init__
    steemd_instance=self.ste

[2018-05-07 18:53] cyon1c opened #235 "Blockchain.stream_from expects get_config to have "STEEM_BLOCK_INTERVAL" but it is None"
### Version of Python you are running ###
2.7

### Version of steem-python you are running ###
1.0.0 (`master` once PR #234 is merged).

### Expected Behavior ###
"STEEM_BLOCK_INTERVAL" should return some value.

### Actual Behavior ###
"STEEM_BLOCK_INTERVAL" is None

### Steps to reproduce ###
This script will repro the error
[code]
### Stack Trace ###
[code]

[2018-05-08 16:16] #156 closed

[2018-05-08 21:04] #181 closed

[2018-05-13 04:01] mtastafford commented on #224
1. Python 3.6.5;
2. steempy 1.0.0 & steem-python v '0.18.103';
3. Just about anything. Can't do much of anything. Not very helpful. Crashes on line "s = Steem()";
4. "steempy set nodes https://rpc.steemviz.com";
5.
[code]

[2018-05-13 20:47] RoboticMind opened #236 "Cannot change node after entering a dead node"
### Version of Python you are running ###
3.6.5

### Version of steem-python you are running ###
1.0.0.

### Steps to reproduce ###
`steempy set nodes [Node that doesn't respond]`
`steempy set nodes [Any nodes]`

### Stack Trace ###
`Warning:root:Retry in 1s -- ReadTimeoutError: HttpsConnectionPool(host='[DEAD NODE]',port='[DEAD NODE'S PORT]'): Read timed out. (read timeout=60)`
This repeats for a

[2018-05-14 09:32] MrBorusLee opened #237 "Can't install steem from PyPI"
### Version of Python you are running ###
Python 3.6.3

### Version of steem-python you are running ###
steem-1.0.0

### Expected Behavior ###
Steem lib installed successfully

### Actual Behavior ###
Installation failed

### Steps to reproduce ###
`pip install steem` from clean virtualenv

### Stack Trace ###
[code]

### Notes
Installation works with futures==3.1.1 and doesn't work with futures==

[2018-05-14 14:46] roadscape commented on #236
Thanks for the report. Last I checked, steem-python attempts to connect to a node prior to updating config. This needs to be fixed.

[2018-05-15 00:10] RoboticMind commented on #236
I was able to change the node by setting the --expires flag to 1

[2018-05-15 00:55] RoboticMind commented on #236
I checked a traffic monitor and the program keeps now calling api.steemit.com (which I changed it to) but on the wrong port

[2018-05-15 01:50] RoboticMind commented on #236
Wouldn't this PR help so I could change the node in the set node command: https://github.com/steemit/steem-python/pull/113/commits/a44ccd0359542cc5b73fd603d44be0a3f527f6d3

[2018-05-18 16:13] #226 closed

[2018-05-24 15:28] ArtoLabs commented on #224
### I can reproduce these errors on all three of my Ubuntu 16.04 servers.

This is an intermittent error that occurs when attempting to connect to the following steemd public websocket nodes:

	https://steemd.privex.io
            https://steemd.steemgigs.org
	rpc.steemliberator.com
	https://steemd.minnowsupportproject.org

Other nodes may be resulting in errors but these are the only ones I've tr

[2018-05-24 15:52] ArtoLabs commented on #224
BTW I receive these errors using Steem Python Package version number 1.0.1 but I received them using 1.0.0 as well.

[2018-05-24 22:57] #169 closed

[2018-05-24 22:57] #170 closed

[2018-05-27 02:16] devopsjourney1 opened #241 "See who voted for a specific witness?"
Hello... not an error.. just wondering if anyone knows how to get a list of users who voted for a particular witness.  For instance if I want a list of everyone that voted for "Jesta" how could I do this?

I can easily find out who Jesta voted for but not who voted for him.

Thanks!

[2018-06-04 21:22] john-g-g opened #243 "incorrect handling of list and set breaks Post"
### Version of Python you are running ###

3.6.4

### Version of steem-python you are running ###

1.0.1

### Expected Behavior ###
[code]

### Actual Behavior ###
[code]

### Steps to reproduce ###

### Stack Trace ###

[2018-06-08 18:27] BhuzOr opened #246 "Bad or missing upstream response"
### Version of Python you are running ###

3.6.3

### Version of steem-python you are running ###

1.0.0 (I think xD)

### Expected Behavior ###

get block info

### Actual Behavior ###

`unspecified error from api.steemit.com (Bad or missing upstream response) in get_block`

### Steps to reproduce ###

randomly on `get_block` calls

[2018-06-10 05:58] mgritter opened #247 "Large integers are strings in the response dictionary"
### Version of Python you are running ###

3.5.2

### Version of steem-python you are running ###

1.0.1 (from pypi)

### Expected Behavior ###

Values in response dictionaries that are integers should be of integer type.

[code]

### Actual Behavior ###

Numbers which are too large (for standard JSON, I guess?) are returned as strings instead:

[code]

### Steps to reproduce ###

My example came

[2018-06-11 19:50] roadscape commented on #246
PR: https://github.com/steemit/steem-python/pull/248

[2018-06-25 16:00] roadscape commented on #246
#248 was merged.

[2018-06-25 16:00] #246 closed

[2018-07-11 08:27] bobinson opened #249 "steempy fails with error RPCErrorRecoverable"
### Version of Python you are running ###

Tried with 3.6.4 and 3.6.5 on macOS 10.13.5

### Version of steem-python you are running ###

[code]

### Expected Behavior ###

setting of nodes should work

### Actual Behavior ###

steempy set nodes https://gtg.steem.house:8090

[code]

[2018-07-11 17:15] SmokinCaterpillar commented on #155
I stumbled over this again, have you made up your mind what solution you prefer? I'll do a PR in this case :-)

[2018-07-13 21:16] john-g-g opened #250 "Use cryptography.io instead of pycrypto"
we use `pycrypto` for aes encryption, but we should use `cryptography` instead for following reasons:
- `pycrypto` is dead project with last commit in 2014
- multiple outstanding exploits (CVE-2013-7459)[https://www.cvedetails.com/cve/CVE-2013-7459/],(CVE-2018-6594)[https://www.cvedetails.com/cve/CVE-2018-6594/)

[2018-07-15 06:08] holgern commented on #250
You can check here: https://github.com/holgern/beem/blob/master/beem/aes.py how to implement this.

[2018-07-18 20:26] hrosspet opened #252 "Pagination in get_discussions_by_feed not working"
According to condenser api [documentation](https://developers.steem.io/apidefinitions/condenser-api#condenser_api.get_discussions_by_feed) the `discussion_query` parameter should have the following structure:
[code]

The `tag` key and `limit` key work nicely, but the function seems to give the same response regardless of  how the `start_author` and `start_permlink` are set.
https://github.com/stee

[2018-07-19 17:30] relativityboy opened #253 "TN: HF20: Support different asset symbols & testnet configurations"
As a python developer on Steem I want to be able to easily connect to all Steem based blockchains using only simple configuration.

**AC**
- [x] determine what changes are necessary to support the stated goal
- [x] outcome of previous in a comment titled `# Results` with a set of recommended stories.

[2018-07-22 13:50] themarkymark-steem opened #254 "unspecified error from node (Invalid Request) in get_dynamic_global_properties"
### Version of Python you are running ###
Python 3.6.5

### Version of steem-python you are running ###
1.0.1

### Expected Behavior ###
steem-python working with Jussi node

### Actual Behavior ###
When connecting steem-python 1.0.1 a Jussi node that is not one of the Steemit Inc ones (api, dev, staging) I get the following error after doing Steem(nodes=[''])

`steembase.exceptions.RPCError: unsp

[2018-07-22 16:59] holgern commented on #254
You could give beem a try....

[2018-07-22 17:19] holgern commented on #254
api.usesteem.com shows a blockchain version number of 0.19.10 but does not support the new appbase json format. Thus, it works for Furion's version of Steem-python and not for 1.0.1.

`stm.rpc.current_rpc=1` sets the steem-object to the old json format:
[code]

[2018-07-23 13:48] themarkymark-steem commented on #254
I am using Jussi with translate AppBase option True.  Which I believe api.steemit.com does.

[2018-07-25 14:00] feruzm commented on #253
# Results

In order to support custom networks following file has to be changed with chain properties: https://github.com/steemit/steem-python/blob/master/steembase/chains.py
This would be manual change everytime there is new network.

Better solution,
From what I can see, it will require some refactoring to generalize `chains.py` to something that could be changed dynamically. This file needs ref

[2018-07-25 19:16] relativityboy commented on #253
@feruzm

Is your thinking that the users of the library should pass in an object of their own to the constructor in `steemd.py`?  Perhaps the library could allow either a string for configurations currently in `chains.py` or the user-supplied object as mentioned above?  Should a file uri with configuration be an option?

[2018-07-26 08:59] feruzm commented on #253
@relativityboy Something similar to how private keys are used in library. User credentials are stored locally steembase/storage.py and used dynamically. Chains could use similar approach, much more flexible.

[2018-07-26 10:38] #253 closed

[2018-07-26 13:36] themarkymark-steem commented on #254
It seems the error only happens when using `s = Steem(nodes=[''])` but not `s = Steem(node="")`

[2018-07-26 16:16] #254 closed

[2018-07-29 15:43] Hanoosh opened #255 "follow example"
Please provide example how to follow a user ?

[2018-08-13 11:04] majidse opened #256 "RPCError: transaction_expiration_exception when trying to upvote a post"
### Version of Python you are running ###
3.6

### Version of steem-python you are running ###
Name: steem
Version: 1.0.1
Summary: Official python steem library.
*Installed from github master branch

### Expected Behavior ###
Trying to upvote a post using steem-python

### Actual Behavior ###
getting this error even after 100 tries.
Also tried different Nodes. No success

`ERROR:steembase.http_cli

[2018-08-18 06:35] sn0n commented on #183
Updates?

[2018-09-01 23:47] Mattwmaster58 commented on #250
@holgern @john-g-g pycryptodome is a maintained drop-in replacement

[2018-09-06 17:27] talhasch opened #257 "ImportError: cannot import name 'Operation'"
i came across ImportError exception when tried to import from steembase.memo

### Version of Python you are running ###
3.5.2

### Version of steem-python you are running ###
1.0.1

### Expected Behavior ###

### Actual Behavior ###

### Steps to reproduce ###

from steembase.memo import encode_memo, PrivateKey, PublicKey

### Stack Trace ###

Traceback (most recent call last):
  File "<stdin>", l

[2018-09-09 11:07] pgarciagon opened #258 "Can not connect to latest hf20 testnet"
### Version of Python you are running ###
3.6.5

### Version of steem-python you are running ###
1.0.1

### Expected Behavior ###
Im expecting to connect to a node on the hf20 testnet (testnet-hf20-1535745600)

### Actual Behavior ###

The chain id seems to be not supported

### Steps to reproduce ###

### Stack Trace ###

Traceback (most recent call last):
  File "/usr/local/bin/steempy", line 11

[2018-09-14 06:58] clayop opened #259 "steem.commit.witness_feed_publish Error"
### Version of Python you are running ###
3.5.2

### Version of steem-python you are running ###
1.0.1

### Expected Behavior ###
`steem.commit.witness_feed_publish` publishes a feed

### Actual Behavior ###
[code]

### Steps to reproduce ###

### Stack Trace ###

[2018-09-14 07:04] clayop commented on #259
Solved. Added `block_api` to plugin in config.ini

[2018-09-14 07:04] #259 closed

[2018-09-18 15:34] TimCliff opened #260 "HF20 - Add support and documentation for witness_set_properties"
### Version of Python you are running ###
2.7.12

### Version of steem-python you are running ###
Latest

### Expected Behavior ###
To be able to use the new `witness_set_properties` once HF20 is live and find appropriate documentation on it's use.

### Actual Behavior ###
N/A

### Steps to reproduce ###
N/A

### Stack Trace ###
N/A

[2018-09-19 17:32] roadscape commented on #258
@pgarciagon could you test on the `258-testnet` branch to see if it resolves your issues?

[2018-09-20 16:08] relativityboy opened #262 "HF20: Temp Testnet chainid fix"
Watch this PR & Help it get merged.
https://github.com/steemit/steem-python/pull/261

Story would be "As a user of steem-python I want the lib to work when pointed at Steemit's testnet *so that I can test my application code in a sandbox*"

[2018-09-20 17:10] #258 closed

[2018-09-21 17:08] relativityboy commented on #262
Merged

[2018-09-21 17:08] #262 closed

[2018-09-23 15:35] clayop opened #263 "steempy should ignore old depencencies"
### Version of Python you are running ###
3.5.2

### Version of steem-python you are running ###
1.0.1

### Expected Behavior ###
After upgrade from older steem-python, `steempy` should use script 0.8.x

### Actual Behavior ###
`steempy` gave error like `scrypt>=0.8.0 is needed`

### Steps to reproduce ###
Place both `script 0.7.x` version and `0.8.x` version in the `dist-package` directory. Then

[2018-09-24 16:32] roadscape commented on #260
Reference implementation: https://github.com/holgern/beem/commit/6cc303d1b0fdfb096da78d3ff331aaa79a18ad8f

[2018-09-24 17:28] relativityboy opened #264 "HF20 support"
Steem Python needs to support HF20 functionality

[2018-09-24 17:33] roadscape commented on #264
Related: https://github.com/steemit/steem-python/issues/260

[2018-09-25 18:29] #264 closed

[2018-09-26 20:19] relativityboy opened #267 "Version to 1.02"

[2018-09-26 21:27] #267 closed

[2018-09-28 20:43] camponez commented on #249
I have the same problem. I can't reset to another node

[2018-10-01 01:04] sxiii commented on #249
For me the same behavior. 1.0.2

[2018-10-10 15:56] BhuzOr opened #269 "Do not repost the entire body if not needed"
Currently editing the json_metadata of a post actually publish again the entire post.

Setting the `newbody` variable to something like `"@@ -0 +0 @@"`, seems to work and avoid the entire repost.

This could also be handled by modifying steemd directly with the advantage that this trick would then be "indirectly used" by all steem libs

[2018-10-19 10:09] wjashan opened #270 "about HF20 curation reward penalty changed from 30 minutes to 15minutes"
[code]
### change to:
[code]

[2018-11-01 14:48] MarcelBeining commented on #250
please exchange pycrypto for pycryptodome because as @Mattwmaster58  said it is still maintained and they actually interfere with each other when both are installed (which they are in my case) !

[2018-11-13 03:54] xiewenlong1202 opened #272 "can't run steempy"
### Version of Python you are running ###
python 3.7.0

### Version of steem-python you are running ###
1.0.1

### Expected Behavior ###
run normal

### Actual Behavior ###
can't run any command

### Steps to reproduce ###
run any command of the steempy

### Stack Trace ###
Traceback (most recent call last):
  File "/Users/xie/Src/venv/bin/steempy", line 7, in <module>
    from steem.cli import le

[2018-11-14 07:01] xiewenlong1202 commented on #272
after I uninstall and reinstall the pycryptodome package, it can work now

I thinks the reason is the install order of the crypto relevant package

[2018-11-14 07:01] #272 closed

[2018-11-30 12:16] ArtoLabs opened #273 "get_current_median_history_price reports incorrect price for STEEM"
### Version of Python you are running ###

3.5

### Version of steem-python you are running ###

1.1

### Expected Behavior ###

Normal Steem Price

### Actual Behavior ###

`get_current_median_history_price()["base"]` produces incorrect value as seen by the abnormally large values in Steemit wallets over Thanksgiving weekend.

### Steps to reproduce ###

from steem import Steem
s = Steem()
s.get_

[2018-12-12 20:38] #9 closed

[2018-12-17 11:41] Degram opened #275 "How to set the"reward options" ? (100%SP, 50/50 and None)"
How to set the"reward options" when i submit a post ?
I'm talking about the choices you have when you post
100% Steem Power
50% SBD and 50% SP
Decline Payout

[2018-12-17 12:07] fraenk commented on #275
it's all in the "options"

`post(title, body, author, permlink=None, reply_identifier=None, json_metadata=None, comment_options=None, community=None, tags=None, beneficiaries=None, self_vote=False)`

comment_options (str, dict) –
JSON options object that can be attached to the post. Example:

[code]

[2018-12-17 12:46] Degram commented on #275
Ok i have to set 'percent_steem_dollars' to 0 and all reward will be Steem power (100%) ?

[2018-12-17 20:50] tpaixao commented on #250
You can just replace pycrypto by pycryptodome. After installing steem-python, you can simply pip uninstall pycrypto and pip install pycryptodome and it just works (tm). But yes, this should be listed as a requirement.

[2018-12-18 17:20] #275 closed

[2018-12-26 17:14] circa-sys commented on #273
Glad I'm not the only one. This is a pretty huge bug and detracts greatly from functionality.

[2019-01-27 20:06] bradmorg opened #276 "Account creation with delegation is deprecated as of Hardfork 20"
### Version of Python you are running ###

python3.6.3

### Version of steem-python you are running ###
1.01

### Expected Behavior ###
s.create_account(
    	accountname,
    	password=password,
    	creator=creatorname,
    	json_meta={"profile": {"name": displayname}},
	)

### Actual Behavior ###
The account does not create.  gives this error:
"Account creation with delegation is deprecated as

[2019-01-30 05:20] SeYoungKim commented on #273
#Version of Python you are running

3.6

#Version of steem-python you are running

1.0.1

#Expected Behavior

Normal Steem Price

#Actual Behavior

I also got a weird value...

s.get_current_median_history_price() {'base': '94369060.638 SBD', 'quote': '297234976.988 STEEM'}

[2019-03-01 23:44] nnnarvaez opened #279 "Calls to Account() fail"
[code]

Was previously working

[2019-03-10 22:59] economicstudio opened #280 "Feature: one-time use private key"
Currently, if a private key can't be found in the wallet, there is no way to enter it manually. This isn't good if one wants to use the key just one time, not storing it in the wallet. Instead of raising `MissingKeyError` immediately, it's much better to give users a chance to enter the private key manually.

I'll submit the PR for this.

[2019-03-30 08:30] nnnarvaez opened #283 "No support for private chains / testnets in (operations.py & commit.py)"
`operations.py`
https://github.com/steemit/steem-python/pull/282

The asset_precision DICT should take the chain and assets from `/steembase/chains.py` and not be statically linked to the asset names?

Left a comment in the file as i havent had the time to look deeper to perform an iteration and get the proper asset names.

Maybe is possible to use the NAI of the asset instead that remains the sam

[2019-03-30 10:31] nnnarvaez opened #284 "commit.post() with no tags or category will return permlink too short RPC error"
If no tags=[] or category is especified the RPC node returns:

[code]

[2019-04-01 15:11] DerekRay commented on #236
Is this solved?I just meet this problem.

[2019-04-02 13:18] bobinson commented on #236
I have been deleting the SQLite file to get out of the dead node scenario.

[2019-04-16 15:05] shawnpringle opened #286 "RPCError"
### Version of Python you are running ###

3.6.8

### Version of steem-python you are running ###

no idea (how can I tell?)

### Expected Behavior ###

I expected some kind of an error message, but I don't know exactly. There's no documentation for exceptional circumstances.  Document your intentions and we will have expectations.  The error message asks me to report this as an error here, so I g

[2019-04-17 15:03] DoguD commented on #78
@john-g-g When I also run the below commands after `brew install openssl` it fixed my problems.
`export CFLAGS="-I$(brew --prefix openssl)/include $CFLAGS"`
`export LDFLAGS="-L$(brew --prefix openssl)/lib $LDFLAGS"`

[2019-05-05 10:30] htotoo commented on #256
I had the same problem, with similar environment. Tried multiple nodes, etc, nothing helped.
After a while i figured out that the system time is wrong on my computer (late 10 minutes). After fixing it, the problem gone!

[2019-05-10 20:33] RoboticMind commented on #236
Looked into the code a little bit, looks like the connection is started before it is completely needed. In cli.py, there's a line `steem = stm.Steem(no_broadcast=args.no_broadcast, **options)` before any commands run. I'm not 100% sure how the code is working but I think it could probably be moved down after it checks for the config command because the first reference to the steem variable is in t

[2019-05-30 15:10] krtschmr opened #287 "how to verify a signed message belongs to account?"
using keychain extension, we get a signed message.

how can i find out if signed_message belongs to the given account, so i can verify it's really that user?

[2019-06-15 18:09] evandrix opened #288 "dep:pycrypto => dep:pycryptodome"

[2019-06-26 03:14] #288 closed, assigned to nobody

[2019-08-05 14:21] niddumulu opened #289 "send post with steempy"
how to send a post to steemit with steempy?
steempy .....

[2019-08-30 13:08] Zaehyeon2 opened #290 "steem-python RPCError: (Assert Exception:var.is_object(): Asset has to treated as object.) in verify_authority"
### Version of Python you are running ###
python3.6.8

### Version of steem-python you are running ###
1.0.1

### Expected Behavior ###
send http to dev blockchain network

### Actual Behavior ###
rasing RPCError

### Steps to reproduce ###

### Stack Trace ###
failing on assert_exception from 166.104.245.104 (Assert Exception:var.is_object(): Asset has to treated as object.) in verify_authority

[2019-08-30 13:31] Zaehyeon2 commented on #290
{'ref_block_num': 26220, 'ref_block_prefix': 3936935949, 'expiration': '2019-08-30T13:00:42', 'operations': [['report_vote', {'voter': 'test1', 'user': 'test1', 'report_id': '2019082114464417926', 'bet_balance': '1.000 STEEM', 'tf': True}]], 'extensions': [], 'signatures': ['20504338b5e8f6f3ed9da8a52e3ca8396a28e21eb8df63958334825f4a073ca8114af1ea1255cbabc2cbc4125d127a100f1d612de578ad0510e507a0775a

[2019-08-30 22:12] roadscape commented on #290
`report_vote` is not a valid steem operation, it looks like you want to broadcast a `custom_json` op instead.

[2019-08-30 22:12] #290 closed, assigned to nobody

[2019-09-03 11:32] chinwei1989 opened #291 "get blocks error"
### Version of Python you are running ###
3.6

### Version of steem-python you are running ###
steem==1.0.2

### Expected Behavior ###
UnboundLocalError: local variable 'error' referenced before assignment

### Actual Behavior ###
no error

### Steps to reproduce ###
blockchain = Blockchain(steem_instance = steemInstance )

### Stack Trace ###
UnboundLocalError: local variable 'error' referenced b

[2019-09-04 15:15] #256 closed

[2019-11-29 09:43] nnnarvaez commented on #236
open cli.py navigate to line 776 comment the line connecting to the steem network, save.

run the command  `steempy set nodes "live.node" <enter>`

Now the dead node has been replaced
Uncomment cly.py line 776 and save, have fun.

[2021-02-24 19:31] #276 closed

[2021-09-11 05:33] repnox commented on #9
My issue is that I was using Anaconda with beem v 0.24.21 but this version apparently has some issue. So instead of using the "conda" command, I had to use pip to install beem 0.24.26 then I stopped getting the error! I hope this helps someone, because I spent multiple days tracking this down!

`pip install beem==0.24.26`

[2021-11-19 09:39] #122 closed

[2022-11-09 19:47] #153 closed